.sppb-column, .sppb-column-addons, .sppb-section .sppb-row > .sppb-col-md-12 {
  z-index: inherit;
  position: static;
}
.sppb-row-container.z-index {
  position: relative;
  z-index: 11;
}
.sp-position-comingsoon {
  .sppb-column {
    height: auto;
  }
  .sppb-section {
    height: auto!important;
    min-height:inherit!important;
  }
}
img {
  border-radius:4px;
}
// --------------------------------------------------
// Addon Testimonial
//
.sppb-addon-testimonial {
  .sppb-addon-content {
    padding-left: 0px;
    position: relative;
    padding-right:0px;
    .quote {
      z-index: 1;
      opacity:0.3;
      position: absolute;
      left: 10px;
      top: 10px;
      &:before {
        content: "\eae5";
        font-family: "Linearicons";
        display: inline-block;
        font-size:48px;
        line-height: 48px;
        font-style: italic;
        font-weight: bold;
        color: $global_color;
      }
    }
    .sppb-addon-testimonial-review {
      font-style: italic;
      //color: #34383d;
      padding:30px;
      background:#ecf0f1;
      position:relative;
      margin-bottom: 30px;
      border-radius: 6px;
      font-weight: 400;
      &:after {
        content:" ";
        width: 0;
        height: 0;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-top: 10px solid #ecf0f1;
        position:absolute;
        left: 20px;
        bottom:-10px;
      }
    }
    .sppb-addon-testimonial-footer {
      margin-top: 10px;
      font-size: 18px;
      line-height: 20px;
      color: #898d92;
      .sppb-addon-testimonial-client {
        top: 10px;
        position: relative;
      }
      strong {
        text-transform: capitalize;
        display:block;
        font-weight: bold;
        color: #34383d;
      }
      span {
        font-size: 14px;
      }
      a {
        color: #898d92;
        &:hover {
          color: #000;
        }
      }
      .sppb-addon-testimonial-client-url {
        padding-left: 0px;
        display: inline-block;
      }
    }
  }
  &.sppb-text-center {
    .sppb-addon-content {
      padding-left: 0px;
      padding-right: 0px;
      .quote {
        position: absolute;
        left: 50%;
        top: 10px;
        transform: translate(-50%,0);
      }
      .sppb-addon-testimonial-review {
        &:after {
          position:absolute;
          left: 50%;
          right: auto;
          bottom:-9px;
           
        }
      }
    }
  }
  &.sppb-text-right {
    .sppb-addon-content {
      padding-left: 0px;
      padding-right: 0px;
      position: relative;
      .quote {
        position: absolute;
        left: auto;
        right: 20px;
        top: 10px;
      }
      .sppb-addon-testimonial-review {
        &:after {
          position:absolute;
          left: auto;
          right: 20px;
          bottom:-9px;
        }
      }
      .sppb-addon-testimonial-footer img {
        float: right;
        margin-left: 10px;
        margin-right: 0px;
      }
      .sppb-addon-testimonial-client {
        text-align: right;
        //margin-top: 4px;
        strong {
          float: none;
          padding-left: 4px;
        }
      }
    }
  }
}
// --------------------------------------------------
// Addon Testimonial Pro
//
.sppb-testimonial-pro {
  .fa.fa-quote-left {
    display: none;
  }
  .sppb-item {
    padding: 0 15px!important;
  }
  .sppb-carousel-inner {
    margin: 0 -15px;
    width: auto;
    .sppb-testimonial-message {
      font-size: 22px;
      line-height: 36px;
      font-style: italic;
      font-weight: 400;
      //color: #343434;
    }
    .sppb-addon-testimonial-pro-footer {
      // @media (min-width: 320px) and (max-width: 479px) {
           display: block;
        //}
      strong {
        font-size: 16px;
        text-transform: uppercase;
        display: block;
        margin-top: 14px;
      }
      span {
        font-size: 14px;
        text-transform: capitalize;
        display: block;
        font-weight: 400;
      }
    }
  }
  .sppb-carousel-control {
    z-index: 1111;
  }
  &.style-white {
    color: #fff;
    .sppb-carousel-indicators {
      li {
        border-color: #fff;
        &.active {
          background: #fff;
          border-color: #fff;
        }
      }
    }
  }
   .sppb-carousel-inner {
      .sppb-item {
        transition: all 400ms;
        &.active{
         -webkit-animation: fadeIn 1.7s both ease;
          -moz-animation: fadeIn 1.7s both ease;
          animation: fadeIn 1.7s both ease;
        }
        &.left,&.right {
          -webkit-animation: fadeIn 1.7s both ease;
          -moz-animation: fadeIn 1.7s both ease;
          animation: fadeIn 1.7s both ease;

        }
      }
    }
  &.style-box {
    padding-bottom: 0px;

    .sppb-carousel-control {
      z-index: 1111;
      top: auto;
      bottom: 14px;
      margin: 0px;
      &.left {
        left: auto;
        right: 54px;
      }
    }
    .sppb-testimonial-message {
      position: relative;
      background: #ecf0f1;
      padding: 30px;
      border-radius: 6px;
      text-align: left;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      color: #343434;
      &:before {
        content: "\eae5";
        font-family: "Linearicons";
        display: inline-block;
        font-size:48px;
        line-height: 48px;
        font-style: italic;
        font-weight: bold;
        color: $global_color;
        z-index: 1;
        opacity:0.3;
        position: absolute;
        left: 30px;
        top: 20px;
      }
      &:after {
        content:" ";
        width: 0;
        height: 0;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-top: 10px solid #ecf0f1;
        position:absolute;
        left: 20px;
        bottom:-10px;
      }
    }
    .sppb-addon-testimonial-pro-footer {
     text-align: left;
     .img {
      float: left;
      padding-right: 10px;
     }
     strong {
      top: 6px;
      position: relative;
      padding-top: 6px;
     }
    }
  }
}
// --------------------------------------------------
// Addon Person - Team
//
.sppb-addon-person .sppb-person-information > span.sppb-persons-phone,
.sppb-addon-person .sppb-person-information > span.sppb-persons-email {
  color: #8a8f91;
  font-size: 14px;
  line-height: 24px;
  i {
    padding-right: 10px;
    font-size: 18px;
  }
  a {
    color: #8a8f91;
    &:hover {
      color: $global_color;
    }
  }
}
div.sppb-addon-person {
  .sppb-person-information {
    //background: #fff;
    padding: 20px;
  }
  .sppb-person-introtext {
    margin: 0px;
     //background: #fff;
    padding: 20px;
    padding-top: 0;
  }
  .sppb-person-social-icons {
    margin: 0px;
     //background: #fff;
    padding: 20px;
    padding-top: 0;
  }
  span.sppb-person-name {
    color: $text_colors;
    font-size: 18px;
    line-height: 24px;
    display: block;
    padding-bottom: 14px;
  }
  .sppb-person-information span.sppb-person-designation {
    color: $text_colors;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
  }
}
div.sppb-addon-person .sppb-person-image {
  margin-bottom: 0px;
}
// --------------------------------------------------
// Addon Articles Team
//
.sppb-addon-articles {
  margin-bottom: 0px;
  .carousel {
    position: static;
    &.position_nav {
      position: relative!important;
      .blog-custom .owl-nav {
        margin: 0;
        //position: absolute;
        .owl-prev {
          position: absolute;
          top: -40px!important;
          right: 50px;
          left: auto;
        }
        .owl-next {
          position: absolute;
          top: -40px!important;
          right: 0px;
        }
      } 
    }
    &.show_margin {
      .blog-custom ,.blog-project{
        position: static;
        margin: 0 -15px;
        
        li {
          padding: 0 15px;
          margin: 0;
        }
      }  
    }
    .blog-custom {
      padding: 0;
      margin: 0;
      list-style: none;
      img {
        border-radius:4px;
      }
      li {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: inherit;
        line-height: inherit;
      }
      .owl-nav {
        margin: 0;
        //position: absolute;
        .owl-prev , .owl-next {
          position: absolute;
          top: 50%;
          background: transparent;
          display: inline-block;
          width: 36px;
          height: 36px;
          margin: 0;
          transition: all ease-in-out .15s;
          border-radius:36px;
          color: #bec4c8;
          text-align: center;
           border:1px solid #bec4c8;
           margin-top: -18px;
          &:hover {
            border-color: $global_color;
            background: $global_color;
            color: #fff;

          }
          &:before {
            font-family: "Linearicons";
            display: inline-block;
            line-height: 28px;
            font-size: 14px;
            padding: 0px;
          }
        }
        .owl-prev {
          left: 30px;
          &:before { 
          content: "\ec3b";
          }
        }
        .owl-next { 
          right: 30px;
          &:before { 
          content: "\ec3c";
          }
        }
      }  
    }
    .blog-project {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: inherit;
        line-height: inherit;
      }
      .owl-nav {
        margin: 0;
        //position: absolute;
        .owl-prev , .owl-next {
          position: absolute;
          top: 40%;
          background: transparent;
          display: inline-block;
          width: 32px;
          height: 32px;
          margin: 0;
          transition: all ease-in-out .15s;
          border-radius:32px;
          color: #bec4c8;
          text-align: center;
           border:1px solid #bec4c8;
           margin-top: -24px;
          &:hover {
            border-color: $global_color;
            background: $global_color;
            color: #fff;

          }
          &:before {
            font-family: "Linearicons";
            display: inline-block;
            line-height: 20px;
            font-size: 12px;
            padding: 0px;
          }
        }
        .owl-prev {
          left: 30px;
          &:before { 
          content: "\ec3b";
          }
        }
        .owl-next { 
          right: 30px;
          &:before { 
          content: "\ec3c";
          }
        }
      }  
    }
  }
  .addon-article {
     .image-box {
      position: relative;
        .sppb-tag {
          margin: 0px;
          padding: 0px;
          list-style: none;
          position: absolute;
          left: 10px;
          top: 10px;
          z-index: 111;
          text-align: left;
          li {
            line-height: 20px;
            margin-bottom: 4px;
            .list-tag {
              display: inline-block;
              background: rgba(0,0,0,0.2);
              border-radius:4px;
              color: #fff;
              padding: 4px 12px;
              font-size: 12px;
              line-height: 20px;
            }
          }
        }
     }
     .sppb-btn-link {
      font-size: 16px;
      line-height: 20px;
      color: $global_color3;
      text-transform: capitalize;
      text-decoration: none;
      i {
        position: relative;
        top: 0px;
        font-size: 12px;
      }
      &:hover {
        color: $global_color;
      }
     }
  }
  .team {
    .addon-article {
      margin-bottom: 30px;
      text-align: center;
    }
    .image-box {
      margin-bottom: 20px;
      a {
        display: block;
        img {
          width: 100%;
          height: auto;
          opacity:1;
          transition: all 400ms;
          border-radius:4px;
        }
        &:hover {
          img {
            opacity:0.6;
          }
        }
      }
    }
    .name-team {
      a {
        color: #34383d;
        font-size: 24px;
        line-height: 28px;
        &:hover {
          color: $global_color;
        }
      }
    }
    .moduleItemExtraFieldsValue {
      font-size: 14px;
      font-style: italic;
      color: #899096;
      margin-bottom: 6px;
    }
    .fields-container {
      .field-value {
        color: $text_colors;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 20px;
      }
    }
    .sppb-article-meta {
      margin-top: 6px;
       font-style: italic;
      > span {
        i {
          padding-right: 4px;
          color: $global_color3;
        }
      }
    }
    .sppb-tag {
      margin-bottom: 14px;
      margin-top: 10px;
      display: block;
      .tags {
        margin: 0px;
        padding: 0px;
        list-style: none;
        li {
          a {
            border: 2px solid #f7f8f8;
            padding: 4px 8px;
            font-size: 14px;
            line-height: 20px;
            text-transform: lowercase;
            color: #898d92;
            border-radius:0px;
            transition: all 400ms;
            &:hover {
              color: #fff;
              background: $text_colors;
              border-color: $text_colors;
            }
          }
        }
      }
    }
    .sppb-article-introtext {
      margin-bottom: 10px;
    }
    .sppb-col-sm-12 {
      .image-box {
        margin-bottom: 30px;
        float: left;
        width: 270px;
        padding-right:30px;
         box-sizing: border-box;
      }
      .blog-box {
        padding:0px;
      }
    }
  }
  .blog-list {
    div.addon-article {
      overflow: hidden;
      margin-bottom: 20px;
      .image-box {
        float: left;
        width: 100px;
         box-sizing: border-box;
        padding-right:0;
        margin:0 10px 0 0;  
        overflow: hidden;
        @media (min-width: 992px) and (max-width: 1199px) {
        width: 80px;
        }
        a {
          background: #000;
          border-radius:4px; 
        }
        img {
          border-radius: 4px;
        }
        &:before {
          display: none;
        }
        &:hover {
          img {
            opacity:0.5;
          }
        }
      }
      .name-blog {
        position: relative;
        top: -2px;
        a {
          color: $text_colors;
          font-size: 16px;
          line-height: 20px;
          font-weight: 700;
          @media (min-width: 992px) and (max-width: 1199px) {
          font-size: 14px;
          line-height: 16px;
          }
          &:hover {
            color: $global_color;
          }
        }
      }
      .sppb-article-meta {
        padding-left: 4px;
        padding-right: 4px;
        width: 100%;
        overflow: hidden;
         font-style: italic;
        .sppb-meta-date {
          //margin:0px; 
        }
        
      }
    }
  }
  .blog-custom {
    .addon-article {
      margin-bottom: 30px;
    }
    .image-box {
      margin-bottom: 0px;
      position:relative;
      img {
        border-radius: 4px;
      }
      &:before {
        background:rgba(0,0,0,0.4);
        width: 100%;
        height: 100%;
        position:absolute;
        left: 0;
        top: 0;
        z-index: 2;
        display: block;
        content: " ";
        transition: all 400ms;
        opacity: 0;
        visibility: hidden;
        border-radius:4px;
      }
      .fancybox-thumb {
        position:absolute;
        left: 50%;
        top: 50%;
        color: #fff;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        //background:$global_color;
        border-radius:100%;
        margin-top: -20px;
        margin-left: -20px;
        opacity: 0;
        visibility: hidden;
        z-index: 2;
        transition: all 400ms;
        border: 1px solid #fff;
        background: rgba(#fff,0.1);
        &:hover {
          background: #fff;
          color: $global_color;
        }
      }
      .sppb-tag {
      margin-bottom:0;
      margin-top: 0;
      position:absolute;
      right: 10px;
      top: 10px;
      z-index: 4;
      display: block;
      text-align: left;
      .tags {
        margin: 0px;
        padding: 0px;
        list-style: none;
        li {
          a {
            border: none;
            background:rgba(0,0,0,0.3);
            padding: 4px 10px;
            font-size: 14px;
            line-height: 20px;
            text-transform: uppercase;
            color: #fff;
            border-radius:4px;
            transition: all 400ms;
            &:hover {
              background:$global_color;
            }
          }
        }
      }
    }
      >a {
        display: block;
        position:relative;
        z-index: 1;
        img {
          width: 100%;
          height: auto;
          opacity:1;
          transition: all 400ms;
        }
        
      }
      &:hover {
          &:before { 
            opacity: 1;
            visibility: visible;
            z-index: 2;
          }
          .fancybox-thumb { 
            opacity: 1;
            visibility: visible;
            z-index: 3;
          }
        }
    }
    .blog-box {
      //background:#fff;
      padding:30px 0 0 0;
      border-radius:0 0 4px 4px;
      .sppb-readmore {
        font-weight: 500;
      }
    }
    .name-blog {
      margin-bottom: 10px;
      a {
        color: $text_colors;
        font-size: 17px;
        line-height: 20px;
        font-weight: 700;
        @media (min-width: 768px) and (max-width: 991px) {
          font-size: 14px;
          line-height: 18px;
        }
        @media (min-width: 320px) and (max-width: 767px) {
          font-size: 14px;
          line-height: 18px;
        }
        &:hover {
          color: $global_color;
        }
      }
    }
    .fields-container {
      .field-value {
        color: $text_colors;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 20px;
      }
    }
    .sppb-article-meta {
      margin: 0 0 10px 0;
       font-style: italic;
      > span {
        margin: 5px 5px 5px 0px;
        i {
          padding-right: 4px;
          color: $global_color;
        }
      }
    }
    
    .sppb-article-introtext {
      margin-bottom: 16px;
    }
    .sppb-col-sm-12 {
      .image-box {
        margin-bottom: 30px;
        float: left;
        width: 270px;
        margin-right:30px;
        box-sizing: border-box;
        @media (min-width: 480px) and (max-width: 767px) {
          width: 180px;
          margin-right:15px;
           margin-bottom: 15px;
        }
        @media (min-width: 320px) and (max-width: 479px) {
          float: none;
          width: 100%;
          padding-right: 0px;
          margin-bottom: 10px;
          width: 100%;
        }
      }
      .blog-box {
        padding:0px;
      }
    }
  }
  .blog-project {

    .image-box {
      margin-bottom: 0px;
       position: relative;
          z-index: 2;
      &:before {
        background:rgba(0,0,0,0.4);
        width: 100%;
        height: 100%;
        position:absolute;
        left: 0;
        top: 0;
        z-index: 2;
        display: block;
        content: " ";
        transition: all 400ms;
        opacity: 0;
        visibility: hidden;
      }
     .fancybox-thumb {
        position:absolute;
        left: 50%;
        top: 50%;
        color: #fff;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        //background:$global_color;
        border-radius:100%;
        margin-top: -20px;
        margin-left: -40px;
        opacity: 0;
        visibility: hidden;
        z-index: 2;
        transition: all 400ms;
        border: 1px solid #fff;
        background: rgba(#fff,0.1);
        &:hover {
          background: #fff;
          color: $global_color;
        }
        &.link-btn {
          margin-right: 0;
          margin-left: 20px;
        }
      }
      .sppb-tag {
        margin-bottom:0;
        margin-top: 0;
        position:absolute;
        right: 10px;
        top: 10px;
        z-index: 4;
        display: block;
        text-align: left;
        .tags {
          margin: 0px;
          padding: 0px;
          list-style: none;
          li {
            a {
              border: none;
              background:rgba(0,0,0,0.3);
              padding: 4px 10px;
              font-size: 14px;
              line-height: 20px;
              text-transform: uppercase;
              color: #fff;
              border-radius:4px;
              transition: all 400ms;
              &:hover {
                background:$global_color;
              }
            }
          }
        }
      }
      >a {
        display: block;
        position:relative;
        z-index: 1;
        img {
          width: 100%;
          height: auto;
          opacity:1;
          transition: all 400ms;
        }
        
      }
    }
    .addon-article {
      margin-bottom: 0px;
      position: relative;
      &:hover {
        .image-box {
         
          &:before { 
            opacity: 1;
            visibility: visible;
            z-index: 2;
          }
          .fancybox-thumb { 
            opacity: 1;
            visibility: visible;
            z-index: 3;
          }
        }
        .blog-box {
          visibility: visible;
          top: 0;
          z-index: 1;
        }
      }  
    }
    .blog-box {
      background:#ecf0f1;
      padding:10px;
      border-radius:0;
      position: relative;
      left:0;
      top: -100%;
      transition: all 400ms;
      width: 100%;
      box-sizing:border-box;
      visibility: hidden;
      z-index: -1;
      .sppb-readmore {
        font-weight: 500;
      }
      @media (min-width: 320px) and (max-width: 767px) {
         top: 0;
         z-index: 1;
         visibility: visible;
         background: none;
      }
    }
    .name-blog {
      margin-bottom: 0px;
      a {
        color: $text_colors;
        font-size: 22px;
        line-height: 24px;
        font-weight: 400;
        @media (min-width: 992px) and (max-width: 1199px) {
          font-size: 18px;
          line-height: 20px;
        }
        @media (min-width: 768px) and (max-width: 991px) {
          font-size: 18px;
          line-height: 20px;
        }
        @media (min-width: 320px) and (max-width: 767px) {
          font-size: 16px;
          line-height: 18px;
        }
        &:hover {
          color: $global_color;
        }
      }
    }
    .fields-container {
      .field-value {
        color: $text_colors;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 20px;
      }
    }
    .sppb-article-meta {
      margin: 0 0 0px 0;
       font-style: italic;
      > span {
        margin: 5px 5px 5px 0px;
        i {
          padding-right: 4px;
          color: $global_color;
        }
      }
      .sppb-meta-category {
        @media (min-width: 768px) and (max-width: 991px) {
          display: none;
        }
      }
    }
    
    .sppb-article-introtext {
      margin-bottom: 16px;
    }
    .sppb-col-sm-12 {
      .image-box {
        margin-bottom: 30px;
        float: left;
        width: 270px;
        padding-right:30px;
         box-sizing: border-box;

      }
      .blog-box {
        padding:0px;
      }
    }
  }
  &.portfolio  {
      #options {
        //overflow: hidden;
        width: auto;
        padding-bottom: 0px;
        display: table;
        margin: 0 auto;
        text-align: center;
      }
      #filters {
        padding: 0px;
        margin: 0px 15px 30px;
        //overflow: hidden;
        text-align: left;
        float: none;
        display: inline-block;
        li {
          padding:0;
          margin: 0 0 0 -1px;
          display: inline-block;
          line-height: 20px;
           vertical-align: top;
          a {
            font-size: 14px;
            line-height: 20px;
            color: #34383d;
            font-weight: 400;
            text-decoration: none;
            background: #fff;
            padding: 6px 20px;
            display: inline-block;
            text-transform: capitalize;
            border: 1px solid #9da6ab;
            cursor: pointer;
            &.is-checked , &:hover {
              text-decoration: none;
              color: #fff;
              background: $global_color;
              border-color:$global_color;
            }
          }
           &:first-child {
            a {
              border-radius:4px 0 0 4px;  
            }
          }
          &:last-child {
            margin-right: 0px;
            a {
              border-radius:0 4px 4px 0;  
            }
          }
        }
      }
      #sort {
       padding: 0px;
        margin: 0px 15px 30px;
        //overflow: hidden;
        text-align: left;
        float: none;
        display: inline-block;
        li {
         padding:0;
          margin: 0 0 0 -1px;
          display: inline-block;
          line-height: 20px;
           vertical-align: top;
          a {
           font-size: 14px;
            line-height: 20px;
            color: #34383d;
            font-weight: 400;
            text-decoration: none;
            background: #fff;
            padding: 6px 20px;
            display: inline-block;
            text-transform: capitalize;
            border: 1px solid #9da6ab;
            cursor: pointer;
            &:after {
              font-family: FontAwesome;
              margin-left: 7px;
            }
            &[data-order=asc] {
              &:after {
                content: '\f0d7';
              }
            }
            &[data-order=desc] {
              &:after {
                content: '\f0d8';
              }
            }
           &.is-checked , &:hover {
              text-decoration: none;
              color: #fff;
              background: $global_color;
              border-color:$global_color;
            }
          }
          &:first-child {
            a {
              border-radius:4px 0 0 4px;  
            }
          }
          &:last-child {
            margin-right: 0px;
            a {
              border-radius:0 4px 4px 0;  
            }
          }
        }
      }
      #isotopeContainer {
        margin: 0 -15px;
         .gallery-item {
          padding: 0px;
          display: inline-block;
          @media (min-width: 480px) and (max-width: 767px) {
            width: 50%!important; 
          }
          @media (min-width: 320px) and (max-width: 479px) {
            width: 100%!important;
          }
        }
        .addon-article {
          padding: 0 15px 30px 15px;

        }
        .addon-article {
          margin-bottom: 0px;
        }
        .hidden {
          display: none;
        }
        .image-box {
          margin-bottom: 0px;
           position: relative;
              z-index: 2;
          &:before {
            background:rgba(0,0,0,0.4);
            width: 100%;
            height: 100%;
            position:absolute;
            left: 0;
            top: 0;
            z-index: 2;
            display: block;
            content: " ";
            transition: all 400ms;
            opacity: 0;
            visibility: hidden;
            border-radius:4px;
          }
         .fancybox-thumb {
            position:absolute;
            left: 50%;
            top: 50%;
            color: #fff;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            //background:$global_color;
            border-radius:100%;
            margin-top: -20px;
            margin-left: -40px;
            opacity: 0;
            visibility: hidden;
            z-index: 2;
            transition: all 400ms;
            border: 1px solid #fff;
            background: rgba(#fff,0.1);
            &:hover {
              background: #fff;
              color: $global_color;
            }
            &.link-btn {
              margin-right: 0;
              margin-left: 20px;
            }
          }
          .sppb-tag {
            margin-bottom:0;
            margin-top: 0;
            position:absolute;
            right: 10px;
            top: 10px;
            z-index: 4;
            display: block;
            text-align: left;
            .tags {
              margin: 0px;
              padding: 0px;
              list-style: none;
              li {
                a {
                  border: none;
                  background:rgba(0,0,0,0.3);
                  padding: 4px 10px;
                  font-size: 14px;
                  line-height: 20px;
                  text-transform: uppercase;
                  color: #fff;
                  border-radius:4px;
                  transition: all 400ms;
                  &:hover {
                    background:$global_color;
                  }
                }
              }
            }
          }
          >a {
            display: block;
            position:relative;
            z-index: 1;
            img {
              width: 100%;
              height: auto;
              opacity:1;
              transition: all 400ms;
              border-radius:4px;
            }
            
          }
        }
        .box-indent {
          margin-bottom: 0px;
          position: relative;
          overflow: hidden;
          &:hover {
            .image-box {            
             img {
              transform:translate(0,-10%);
              @media (min-width: 320px) and (max-width: 767px) { 
                transform:translate(0,0);
              }
             }
              &:before { 
                opacity: 1;
                visibility: visible;
                z-index: 2;
              }
              .fancybox-thumb { 
                opacity: 1;
                visibility: visible;
                z-index: 5;
                transform:translate(0,-100%);
                @media (min-width: 320px) and (max-width: 767px) { 
                  transform:translate(0,0);
                }
              }
            }
            .blog-box {
              visibility: visible;
              z-index: 3;
              bottom: 0;
            }
          }  
        }       
        .blog-box {
          background:#ecf0f1;
          padding:10px;
          border-radius:0;
          position: absolute;
          left:0;
          bottom: -100%;
          top: auto;
          transition: all 400ms;
          width: 100%;
          height: auto;
          box-sizing:border-box;
          visibility: hidden;
          z-index: -1;
          border-radius:0 0 4px 4px;
          @media (min-width: 768px) and (max-width: 991px) {
            margin: 0 0 0px 0;
            padding:5px;
          }
          @media (min-width: 320px) and (max-width: 767px) {
             bottom: 0;
             position: relative;
             z-index: 0;
             visibility: visible;
          }
          .sppb-readmore {
            font-weight: 500;
          }
        }
        .name-blog {
          margin-bottom: 0px;
          a {
            color: $text_colors;
            font-size: 22px;
            line-height: 24px;
            font-weight: 400;
            @media (min-width: 992px) and (max-width: 1199px) {
              font-size: 16px;
              line-height: 20px;
            }
            @media (min-width: 768px) and (max-width: 991px) {
              font-size: 12px;
              line-height: 16px;
            }
            @media (min-width: 320px) and (max-width: 767px) {
               font-size: 14px;
              line-height: 18px;
            }
            &:hover {
              color: $global_color;
            }
          }
        }
        .fields-container {
          .field-value {
            color: $text_colors;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 20px;
          }
        }
        .sppb-article-meta {
          margin: 0 0 10px 0;
           font-style: italic;
          @media (min-width: 768px) and (max-width: 991px) {
            margin: 0 0 0px 0;
          }
          > span {
            margin: 5px 5px 5px 0px;
            i {
              padding-right: 4px;
              color: $global_color;
            }
          }
        }
        
        .sppb-article-introtext {
          margin-bottom: 16px;
        }
        .sppb-col-sm-12 {
          .image-box {
            margin-bottom: 30px;
            float: left;
            width: 270px;
            padding-right:30px;
             box-sizing: border-box;
          }
          .blog-box {
            padding:0px;
          }
        }
      }
  }
 .blog-custom.magazine {
  .addon-article {
    overflow: hidden;
    margin-bottom: 20px;
  }
    .big-box {
      position: relative;
      padding: 0px;
      .image-box {
        margin-bottom: 30px;
        float: none;
        width: 100%;
        margin-right:10px;
        padding-right: 0px;
         box-sizing: border-box;
      }
      .blog-box {
        padding:0px;
        .name-blog {
          a {
            font-size: 23px;
            line-height: 30px;
            font-weight: 400;
          }
        }
      }
    }
    .small-box {
      padding: 0px;
      .image-box {
        margin-bottom: 10px;
        margin-right: 10px;
        float: left;
        width: 130px;
        padding-right:0px;
         box-sizing: border-box;
      }
      .blog-box {
        padding:0px;
        .name-blog {
          margin-bottom: 0px;
          a {
            font-size: 16px;
            line-height: 20px;
            //font-weight: 400;
          }
        }
      }
    }
  }
  
}
.layout-magazine {
  >.sppb-addon-title {
    float: left; 
    padding-right: 30px;
  }
  .sppb-addon-content {
    width: 100%;
    padding-top: 10px;
  }
  .sppb-btn {
    padding-top:4px;
    padding-bottom: 4px;
    text-transform: capitalize; 
  }
}
// --------------------------------------------------
// Addon Articles Team
//
.sppb-addon-pricing-table {
  .sppb-pricing-header {
    .sppb-pricing-icon {
      display: inline-block;
      .sppb-inner-icon {
        display: inline-block;
      }
      i {
        //font-size: 60px;
        //line-height: 60px;
        //color: $text_colors;
       // padding-bottom: 30px;
        //padding-top: 20px;
      }
    }
    .sppb-pricing-title {
      //text-transform: uppercase;
      color: $global_color;
    }
    .sppb-pricing-price-container {
      border-bottom: 1px solid rgba(#c1c4c4,0.5);
      padding-bottom: 30px;
      .sppb-after-title-desc {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
        border-bottom: 1px solid rgba(#c1c4c4,0.5);
        padding-bottom: 20px;
      }
      .sppb-pricing-price {
        font-size: 62px;
        line-height: 62px;
        font-weight: bold;
        span {
          font-weight: 400;
          font-size: 32px;
          line-height: 34px;
          position: relative;
          top: -19px;
        }
      }
    }
  }
}
.sorting {
  ul#sort {
    li {
      a {
        & + a{
          display: none;
        }
      }
    }
  }
}

.block{
  display: block !important;
}

.none{
  display: none !important;
}
// --------------------------------------------------
// Addon Timeline
//

div.sppb-addon-timeline{
  div.sppb-addon-timeline-wrapper{
    div.timeline-movement{
      .timeline-date {
        color: $global_color;
        font-weight: bold!important;
        font-size: 18px!important;
      }
      &:last-child {
        bottom: -7px!important;
      }
      .timeline-badge {
        &:before {
          border-color: $global_color!important;
          background: $global_color!important;
          box-shadow: 0 0 10px 0 darken($global_color, 6.5%);
        }
        &:after {
          left: 12px;
        }
      }
      &.odd {
        .timeline-badge {
          &:after {
            right: 12px!important;
            left: auto;
          }
        }
      }
      div.timeline-item{
        div.timeline-panel , div.timeline-panel.left-part {
          width: 100%;
          padding: 30px;
          box-sizing: border-box;
          .title {
            font-size: 22px;
            line-height: 26px;
            font-weight: 700;
          }
        }
      }
    }
  }
}
// --------------------------------------------------
// Addon flip box
//
.threeD-flip-back .threeD-content-inner, .threeD-flip-front .threeD-content-inner {
  padding: 0 10px;
}
// --------------------------------------------------
// Addon Animated Number
//
.sppb-addon-animated-number {
  .sppb-addon-content.pad {
  }
  .sppb-animated-number,  .sppb-animated-number + span {
    font-weight: bold!important;
    margin-bottom: 10px;
   // display: block;
  }
}
// --------------------------------------------------
// Addon Pie Progress
//
.sppb-addon-pie-progress {
  .sppb-addon-text {
    padding-top: 10px;
  }
  .sppb-pie-chart {
    position: relative;

    .sppb-chart-percent {
      span {
        top: -20px;
        position: relative;
      }
    }
    .sppb-addon-title {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 70%;
      text-align: center;
      transform: translate(-50%,-50%);
      margin-top: 15px;

    }
  }
  &.iconclass {
    .sppb-pie-chart {
      .sppb-addon-title {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        transform: translate(0,0);
        margin-top: 15px;
        margin-bottom: 10px;
      }
    }
  }
}
// --------------------------------------------------
// Addon Countdown
//
.sppb-addon-countdown  {
  .sppb-countdown-text {
    padding-top: 10px;
    display: block;
    text-align: center;
  }
}
// --------------------------------------------------
// Addon Carousel
//
.sppb-carousel {
    .sppb-carousel-arrows {
      width: 32px;
      height: 32px;
      background: transparent;
      line-height: 32px;
      font-size: 14px;
      top: 50%;
      position: absolute;
      margin-top: -16px;
      opacity:1;
      border-radius:32px;
      color: #bec4c8;
      text-align: center;
      border:1px solid #bec4c8;
      text-shadow: none;
      &:hover {
        border-color: $global_color;
        background: $global_color;
        color: #fff;

      }
      &.left {
        left: 10px;
      }
       &.right {
        right: 10px;
      }
    }
  .sppb-carousel-indicators{
      margin:20px 0 0 0;
      position: absolute;
      left: 0;
      top: 100%;
      bottom: auto;
      width: 100%;
      li {
        border:1px solid #bec4c8;
        background: transparent;
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: 0 4px;
        transition: all ease-in-out .15s;
        border-radius:12px;
        span {
          display: none;
        }
        &.active {
          border-color: $global_color2;
          background: $global_color2;
        }
      }
    }
  .sppb-carousel-text {
    &.text-left {
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0,-50%);
      box-sizing:border-box;
      padding: 0 60px;
    }
    &.text-right {
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0,-50%);
       box-sizing:border-box;
      padding: 0 60px;
    }
    &.text-center {
      display: block;
      position: absolute;
      left: 50%;
      right: auto;
      top: 50%;
      transform: translate(-50%,-50%);
       box-sizing:border-box;
      padding: 0 60px;
    }
  }
}
.sppb-carousel-pro {
  &.slider {
    .sppb-items { 
      img { 
       min-height: 350px;
        @media (min-width: 320px) and (max-width: 479px) { 
          min-height: 300px;
        }
      }
      div.sppb-carousel-item-inner {
        .sppb-carousel-pro-text { 
          @media (min-width: 992px) and (max-width: 1199px) {
            padding: 0 30px;
            .slide-title {
              font-size: 42px!important;
              line-height: 44px!important;
            }
          }
          @media (min-width: 768px) and (max-width: 991px) {
            padding: 0 30px;
          }
          @media (min-width: 320px) and (max-width: 479px) {
        
          }
        }
        .sppb-text {
          @media (min-width: 992px) and (max-width: 1199px) {
            padding: 0 30px;
          }
          @media (min-width: 768px) and (max-width: 991px) {
            padding: 0 30px;
          }
        }
        .sppb-col6 {
          @media (min-width: 320px) and (max-width: 479px) {
            .sppb-carousel-pro-text {
              background: rgba(0,0,0,0.1);
              padding: 10px;
            }
          }
        }
        .sppb-col6.video {
           @media (min-width: 320px) and (max-width: 479px) {
            display: none!important;
          }
        }
      }
    }
    .owl-carousel {
      .owl-nav {
        @media (min-width: 320px) and (max-width: 767px) {
          opacity: 0;
        }
      }
    }
  }
  .sppb-items {
    //min-height: 350px;
    background-size: cover;
    background-repeat: inherit;
    background-position: center center;
    a.link {
      display: block;
      overflow: hidden;
      &:hover {
        img {
          opacity:0.7;
          background: #000;
        }
      }
    }
    img {
      width: 100%;
      transition: all ease-in-out .15s;
      height: auto;
      visibility: hidden;
    }
  }
  .sppb-embed-responsive.sppb-embed-responsive-16by9 {
    padding-bottom: 51.1%;
  }
  .sppb-carousel-item-inner {
    position: absolute;
    left: 50%;
    top: 0px;
    height: 100%;
    width: 100%;
    padding: 15px;
    box-sizing:border-box;
    max-width: 1140px;
    transform: translate(-50%,0);
   .sppb-col6 {
        width: 50%!important;
        float: left;
        min-height: 100%!important;
        height: 100%!important;
        position: relative;
        display: block!important;
        overflow: hidden;
        @media (min-width: 320px) and (max-width: 479px) {
          width: 100%!important;
        }
      }
    &.text-left {
        .sppb-carousel-pro-text {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0,-50%);
          box-sizing:border-box;
          padding: 0 0;
      }
      .sppb-text {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(0,-50%);
          box-sizing:border-box;
          width: 100%;
          margin-top: 0px;
      }
    }
     &.text-right {
        .sppb-carousel-pro-text {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(0,-50%);
          box-sizing:border-box;
          padding: 0 0;
      }
      .sppb-text-right{
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0,-50%);
          box-sizing:border-box;
          width: 100%;
      }
    }
     &.text-center {
        .sppb-carousel-pro-text {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0,-50%);
          box-sizing:border-box;
          padding: 0 0;
      }
      .sppb-text {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(0,-50%);
          box-sizing:border-box;
          width: 100%;
          margin-top: 0px;
      }
    }
    .sppb-text-right {
      //height: 100%;
    }
  } 
  .owl-carousel {
    position: relative; 
    padding: 0;
    margin: 0;
    .owl-stage-outer {
      
    }
    li {
      list-style: none;
    } 
    .owl-dots{
      bottom: 10px;
      left: 0;
      position: absolute;
      z-index: 11;
      height: auto;
      width: 100%;
      @media (min-width: 1300px) {
       bottom: 30px;
      }
      .owl-dot {
        border:1px solid #bec4c8;
        background: transparent;
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: 0 5px;
        transition: all ease-in-out .15s;
        border-radius:12px;
        span {
          display: none;
        }
        &.active {
          border-color: $global_color;
          background: $global_color;
        }
      }
    }
    .owl-nav {
      margin: 0;
      //position: absolute;
      .owl-prev , .owl-next {
        position: absolute;
        top: 50%;
        background: transparent;
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 0;
        transition: all ease-in-out .15s;
        border-radius:50px;
        color: #bec4c8;
        text-align: center;
         border:1px solid #bec4c8;
         margin-top: -15px;
         @media (min-width: 1300px) {
          width: 50px;
          height: 50px;
          margin-top: -25px;
        }
        &:hover {
          border-color: $global_color;
          background: $global_color;
          color: #fff;

        }
        &:before {
          font-family: "Linearicons";
          display: inline-block;
          line-height: 22px;
          font-size: 12px;
          padding: 0px;
          @media (min-width: 1300px) {
            line-height: 42px;
            font-size: 14px;
          }
        }
      }
      .owl-prev {
        left: 8px;
        &:before { 
        content: "\ec3b";
        }
      }
      .owl-next { 
        right: 8px;
        &:before { 
        content: "\ec3c";
        }
      }
    }
  }  
  &.style_2 {
    margin: 0 -15px 0 -15px;
    .owl-carousel {
      padding-bottom: 6px;
      li {
        &.item{
          .sppb-items {
            background: none!important;
            padding:0 15px 30px 15px;
            img {
              border-radius:4px;
              visibility: visible;
            }
          }
        }
      }
      .owl-dots{
        margin-top: 0px;
        margin-left: 10px;
        margin-bottom: 0px;
        text-align: left;
        position: relative;
        z-index: 1;
        bottom: 0;
      }   
      .owl-nav {
        margin: 0;
        //position: relative;
        .owl-prev , .owl-next {
          position: absolute;
          top: auto;bottom: 0px;
          width: 32px;
          height: 32px;
          margin: 0;
          border-radius:32px;
          z-index: 2;
           &:before {
            line-height:22px;
          }
        }
        .owl-prev {
          right: 57px;
          left: auto;
        }
        .owl-next { 
          right: 15px;
        }
      }
    }
  }  
}
// --------------------------------------------------
// Addon Modal
//
.sppb-modal-selector {
  position: relative;
  display: inline-block;
  .icon.linearicons-play {
    display: block;
    width: 70px;
    height: 70px;
    border-radius:(70px);
    background: $global_color;
    color: #fff;
    text-align: center;
    line-height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;
    transition: all ease-in-out .15s;
    &:hover {
      background: $text_colors;
    }
  }
  span {
     display: inline-block!important;
    .fa {
      position: relative;
      top: -2px;
      left: 2px;
    }
  }
  .text {
    display: block!important;
    border: none!important;
    background: none!important;
    padding: 0px!important;
    text-transform: uppercase;
  }
}
// --------------------------------------------------
// Addon Optin Forms (NewsLetter)
//
div.sppb-addon-optin-forms {
  padding:0px;
  div.sppb-optin-form-details-wrap {
    padding-top:0px!important;
  }
  .sppb-optin-form {
    &.form-inline {
      .sppb-form-group {
        //padding-right:0px;
      }
    }
  }
  &.marging {
    .sppb-optin-form {
      .sppb-form-group {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}
// --------------------------------------------------
// Addon Accordion
//
.sppb-addon-accordion {
  .sppb-panel-group {
    .sppb-panel-default {
      margin-bottom: 10px;
      overflow: hidden;
      background:none;
      border:none;
      position: relative;
      .sppb-panel-body {
        border: none;
        padding-left:20px;
        padding-right:20px;
        padding-top:20px;
        padding-bottom:20px;
        height: 100%;
        border-top:1px solid $global_color; 
        //margin-top: -2px;
      }
      .sppb-panel-heading {
        padding:12px 20px;
        background:none;
        //border:1px solid #9da6ab;
        border-radius:4px;
        transition: all ease-in-out 100ms;
        position: static;
        &:before {
          content: " ";
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border:1px solid #9da6ab;
          border-radius: 4px; 
        }
        .sppb-panel-heading-pos { 
          position: relative;
        }
        .sppb-panel-title {
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          color: $text_colors;
          i {
            color: $global_color;
            font-size: 18px;
            margin-right: 10px;
          }
        }
        .sppb-toggle-direction {
          border:1px solid #9da6ab;
          border-radius:100%;
          width: 20px;
          height: 20px;
          text-align: center;
          line-height: 19px;
          font-size: 11px;
          right: 0px;
          i:before {
              //content: "\ec3a";
              content: "\ec36";
              font-family: "Linearicons";
              color: $text_colors;
              display: inline-block;
          }
        }
        &.active {
          &:before {
            border:1px solid $global_color;
          }
          .sppb-panel-title { 
            color:$global_color;
          }
          .sppb-toggle-direction {
            transform: translateY(-50%) rotate(0deg);
            border:1px solid $global_color;
            i:before { 
              content: "\ec37";
              color:$global_color;
            }
          }
        }
      }
    }
    .sppb-panel-modern {
      margin-bottom: 10px;
      border-radius:4px;
      overflow: hidden;
      background:#fff;
      border:1px solid $global_color2;
      .sppb-panel-body {
        border-top-color: $global_color2;
         padding-left:20px;
        padding-right:20px;
        padding-top:30px;
        padding-bottom:30px;
      }
      .sppb-panel-heading {
        padding:12px 20px;
        background:$global_color2;
        .sppb-panel-title {
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          color: #fff;
          i {
            color: #fff;
            font-size: 18px;
            margin-right: 10px;
          }
        }
        .sppb-toggle-direction {
          i:before {
              //content: "\ec3a";
              content: "\ec36";
              font-family: "Linearicons";
              color: #fff;
          }
        }
        &.active {
          .sppb-toggle-direction {
            transform: translateY(-50%) rotate(0deg);
            i:before { 
              content: "\ec37";
            }
          }
        }
      }
    }
    .sppb-panel-faq {
       .sppb-panel-heading {
        padding:15px 20px 15px 0;
        .sppb-panel-title {
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          color: $text_colors;
          i {
            color: $text_colors;
            font-size: 18px;
            margin-right: 10px;
          }
        }
        .sppb-toggle-direction {
          i:before {
              //content: "\ec3a";
              content: "\ec36";
              font-family: "Linearicons";
              color: $text_colors;
          }
        }
        &.active {
          .sppb-toggle-direction {
            transform: translateY(-50%) rotate(0deg);
            i:before { 
              content: "\ec37";
            }
          }
        }
      }
      .sppb-panel-body {
        padding-left:0px;
        padding-right:0px;
        padding-top:30px;
        padding-bottom:30px;
      }
    }
    .sppb-panel-primary {
      border-color: $global_color;
      .sppb-panel-body {
        border-top-color: $global_color;
      }
      .sppb-panel-heading {
        padding:12px 20px;
        background:rgba($global_color,0.1);
        color: $global_color;
        .sppb-panel-title {
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          i {
            font-size: 18px;
            margin-right: 10px;
          }
        }
        .sppb-toggle-direction {
          i:before {
              content: "\ec36";
              font-family: "Linearicons";
          }
        }
        &.active {
          .sppb-toggle-direction {
            transform: translateY(-50%) rotate(0deg);
            i:before { 
              content: "\ec37";
            }
          }
        }
      }
    }
    .sppb-panel-success {
      border-color: #27ae60;
      .sppb-panel-body {
        border-top-color: #27ae60;
      }
      .sppb-panel-heading {
        padding:12px 20px;
        background:#d5f5e3;
        color: #27ae60;
        .sppb-panel-title {
         font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          i {
            font-size: 18px;
            margin-right: 10px;
          }
        }
        .sppb-toggle-direction {
          i:before {
              content: "\ec36";
              font-family: "Linearicons";
          }
        }
        &.active {
          .sppb-toggle-direction {
            transform: translateY(-50%) rotate(0deg);
            i:before { 
              content: "\ec37";
            }
          }
        }
      }
    }
    .sppb-panel-info {
      border-color: #2980b9;
      .sppb-panel-body {
        border-top-color: #2980b9;
      }
      .sppb-panel-heading {
        padding:12px 20px;
        background:#d6eaf8;
        color: #2980b9;
        .sppb-panel-title {
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          i {
            font-size: 18px;
            margin-right: 10px;
          }
        }
        .sppb-toggle-direction {
          i:before {
              content: "\ec36";
              font-family: "Linearicons";
          }
        }
        &.active {
          .sppb-toggle-direction {
            transform: translateY(-50%) rotate(0deg);
            i:before { 
              content: "\ec37";
            }
          }
        }
      }
    }
    .sppb-panel-warning {
      border-color: #c0392b;
      .sppb-panel-body {
        border-top-color: #c0392b;
      }
      .sppb-panel-heading {
        padding:12px 20px;
        background:#f2d7d5;
        color: #c0392b;
        .sppb-panel-title {
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          i {
            font-size: 18px;
            margin-right: 10px;
          }
        }
        .sppb-toggle-direction {
          i:before {
              content: "\ec36";
              font-family: "Linearicons";
          }
        }
        &.active {
          .sppb-toggle-direction {
            transform: translateY(-50%) rotate(0deg);
            i:before { 
              content: "\ec37";
            }
          }
        }
      }
    }
    .sppb-panel-danger {
      border-color: #d35400;
      //margin-bottom: 10px;
      .sppb-panel-body {
        border-top-color: #d35400;
      }
      .sppb-panel-heading {
        padding:12px 20px;
        background:#fae5d3;
        color: #d35400;
        .sppb-panel-title {
         font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          i {
            font-size: 18px;
            margin-right: 10px;
          }
        }
        .sppb-toggle-direction {
          i:before {
              content: "\ec36";
              font-family: "Linearicons";
          }
        }
        &.active {
          .sppb-toggle-direction {
            transform: translateY(-50%) rotate(0deg);
            i:before { 
              content: "\ec37";
            }
          }
        }
      }
    }
   
  }
}
// --------------------------------------------------
// Addon Tab
//
.sppb-addon-tab {
  &.vsppb-text-left {

  }
  &.vsppb-text-center {
    .sppb-nav {
      display: table;
      margin: 0 auto;
      width: auto;
      text-align: center;
    }
    .sppb-tab-content {
      overflow: hidden;
      width: 100%;
      text-align: center;
    }
  }
  &.vsppb-text-right {
    .sppb-nav {
     float: right;
     text-align: right;
    }
    .sppb-tab-content {
      overflow: hidden;
      width: 100%;
      text-align: right;
    }
  }
  .sppb-tab {
    overflow: hidden;
    width: 100%;
  }
  .sppb-nav-tabs {
    li {
      a {
        font-size: 16px;line-height: 20px;
        font-weight: 400;
        padding-left:20px;
        padding-right:20px;
      }
    }
  }
  .sppb-tab-tabs-content {
    padding:30px 0 0 0;
    margin: 0px;
  }
  .sppb-nav-modern {
    
    border-radius:4px;
    width: auto;
    display: table;
    overflow: hidden;
    li {
      margin: 0 -1px 0 0;
      border: none;
      position: relative;
      @media (min-width: 320px) and (max-width: 767px) {
        margin: 0 1px 0 0;
      }
      @media (min-width: 320px) and (max-width: 479px) {
          width: 100%;
           margin: 0 0 0 0;
      }
      a {
        font-size: 16px;line-height: 20px;
        font-weight: 400;
        color: $text_colors;
        background:transparent;
        padding-left:20px;
        padding-right:20px;
        border: 1px solid #9da6ab;
        border-radius:0px;
        margin-bottom: 1px;
        @media (min-width: 992px) and (max-width: 1199px) {
         padding-left:10px;
          padding-right:10px;
        }  
        @media (min-width: 768px) and (max-width: 991px) {
          padding-left:10px;
          padding-right:10px;
        }
        @media (min-width: 320px) and (max-width: 767px) {
          border-radius:4px;  
        }
      }
      &.active {
        a {
          color: #fff;
          background:$global_color2;
          border-color:$global_color2;
        }
      }
      &:first-child {
        a {
          border-radius:4px 0 0 4px;  
           @media (min-width: 320px) and (max-width: 767px) {
          border-radius:4px;  
        }
        }
      }
      &:last-child {
        margin-right: 0px;
        a {
          border-radius:0 4px 4px 0;  
           @media (min-width: 320px) and (max-width: 767px) {
          border-radius:4px;  
        }
        }
      }
    }
  }
  .sppb-tab-modern-content {
    padding:30px 0 0 0;
    margin: 0px;
  }
  .sppb-nav-pills {
    li {
      margin-right: 6px;
      a {
        font-size: 16px;line-height: 20px;
        font-weight: 400;
        color: $text_colors;      
        background:#f7f7f7;
        padding-left:20px;
        padding-right:20px;
      }
      &.active {
        a {
          color: #fff;
          background:$global_color;
        }
      }
    }
  }
  .sppb-tab-pills-content {
    padding:30px 0 0 0;
    margin: 0px;
  }
  .sppb-nav-lines {
    float: left;
    width: 200px;
    border-bottom:none;
    border-top:2px solid #e5e5e5;
    li {
      display: block;
      float: none;
      margin-bottom: 0px!important;
      background:#fff;
      a {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        padding-left:20px;
        padding-right:20px;
        border-bottom:2px solid #e5e5e5;
        margin-bottom: 0px!important;       
      }
      &.active {
        margin-right: -2px;
        a {
          color: $global_color;
        }
      }
      &.active {

      }
    }
  }
  .lines-tab .sppb-tab-content {
    overflow: hidden;
    width: auto;
    padding:20px;
    border-left:2px solid #e5e5e5;
    border-top:2px solid #e5e5e5;
    border-bottom:2px solid #e5e5e5;
    border-right:2px solid #e5e5e5;
    margin-top: 0px;
    background:#fff;
    border-radius:0 4px 4px 4px;
  }
  .sppb-tab-content {
    padding-top:30px;
    ul {
      margin-top: 0px;
      margin-bottom: 20px;
      padding-left:16px;
    }
  }
}
// --------------------------------------------------
// Addon  image content
//
.sppb-addon-single-image {
  a {
    img {
      opacity:1;
      transition: all 400ms;
    }
    &:hover {
      img {
        opacity:0.5;
      }
    }
  }
  .sppb-addon-image-overlay-icon {
    border: 1px solid #fff;
    background: rgba(#fff,0.1);
    line-height: 34px;
  }
  &.z-index {
    position: relative;
    z-index: 2;
  }
  &.bottom {
    position: relative;
    z-index: 1;
    transform: translate(0,105%);
  }
  .sppb-addon-single-image-container {
    display: block;
    img {
      display: block;
      width: 100%;
    }
  }
}
.sppb-addon-image-content {
  
  .sppb-content-sub-title {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 10px;
    font-weight: 400;
    display: block;
    text-transform: uppercase;
  }
  .sppb-image-content-text {
    //font-size: 18px;
    //line-height: 30px;
    //font-weight: 300;
  }
  .sppb-image-holders {
    margin-bottom: 15px;
  }
  &.aligment-absolute {
    .container-inner {
      position: relative;
      &:before {
        content: " ";
        display: block;
        background: rgba(#000,0.3);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
    .sppb-col-sm-12 {
      position: static;
    }
    .sppb-image-holders {
        display: block;
        width: 100%;
        height: auto;
    }
    .sppb-content-holders {
      position: absolute;
      left: 0;
      top: 50%;
      text-align: center;
      width: 100%;
      transform: translate(0,-50%);

    }
  }
  &.aligment-right {
    .sppb-row {
      display: block;
      .sppb-col-sm-4 {
        float: right;
      }
      .sppb-col-sm-8 {
        float: left;
      }
    }
  }
}
// --------------------------------------------------
// Addon link-list
//
.sppb-link-list-wrap {
  ul {
    li {
      border-top:1px solid #e8e9e9;
      padding:20px 0px;
      a {
        padding:0px;
        display: inline-block;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        background:none;
        &:hover {
          color: $global_color;
        }
        i {
          font-size: 9px;
          padding-right:10px;
          position:relative;
          top: -1px;
        }
      }
      &:first-child {
        border-top:none;
      }
    }
  }
}
// --------------------------------------------------
// Addon joomla module
//
.sppb-addon-module {
  .tagspopular {
    ul {
      padding:0;
      margin:0;
      list-style: none;
      li {
        border:2px solid #f7f8f8;
        background:#fff;
        padding:3px 10px 7px;
        display: inline-block;
        vertical-align: top;
        margin-right: 4px;
        margin-bottom: 4px;
        float: left;
        a {
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          &:hover {
            
          }
        }
        span {
          background:$text_colors;
          border-radius:100%;
          color: #fff;
          display: inline-block;
          padding:0px 5px 2px;
          line-height: 16px;
          font-size: 12px;
        }
        &:hover {
          background:$text_colors;
          a {
            color: #fff;
          }
          span {
            background:$global_color;
            color: #fff;
          }
        }
      }
    }
  }
}
.sppb-addon-gallery {
  .sppb-gallery.image-gallery  {
    overflow: visible;
    height: 100%;
    position: static;
    a {
     display: inline-block;
     position: relative;
    
     span {
      position: relative;
       background: #000;
       display: inline-block;
      &:before {
      content: "+";
      border: 1px solid #fff;
      background: rgba(255, 255, 255, 0.1);
      line-height: 34px;
      position: absolute;
      color: #fff;
      text-decoration: none;
      display: block;
      width: 36px;
      font-size: 28px;
      height: 36px;
      text-align: center;
      background: 0 0;
      top: 50%;
      left: 50%;
      margin-left: -18px;
      margin-top: -18px;
      border-radius: 40px;
      -webkit-transition: background-color .3s;
      transition: background-color .3s;
     display: none;
     }
     }
     
    img {
      opacity:1;
      transition: all 400ms;
    }
    &:hover {
      img {
        opacity:0.5;
      }
      span {
        &:before {
          display: block;
        }
      }
    }
    }
    .slick-dots {
      display: none!important;
    }
    .slick-arrow {
      margin: 0;
      //position: absolute;
      outline:none;
      &.slick-prev , &.slick-next {
        position: absolute;
        top: 50%;
        background: transparent;
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0;
        transition: all ease-in-out .15s;
        border-radius:50px;
        color: #8f9194;
        text-align: center;
         border:1px solid #8f9194;
         margin-top: -20px;
         font-size: 0;
        line-height: 0;
        z-index: 1;
        cursor: pointer;
        &:hover {
          border-color: $global_color;
          background: $global_color;
          color: #fff;

        }
        &:before {
          font-family: "Linearicons";
          display: inline-block;
          line-height: 38px;
          font-size: 14px;
          padding: 0px;
        }
      }
      &.slick-prev {
        left: 30px;
        &:before { 
        content: "\ec3b";
        text-indent: 0px;
        }
      }
      &.slick-next { 
        right: 30px;
        &:before { 
        content: "\ec3c";
        text-indent: 0px;
        }
      }
    }
  }
  &.show_margin {
    .sppb-gallery.image-gallery  {
      overflow: hidden;
      margin:-15px;
      a {
       display: inline-block;
       padding: 15px;
       img {
      opacity:1;
      transition: all 400ms;
      }
      &:hover {
        img {
          opacity:0.5;
        }
      }
      }
    }
  }
}
.sppb-progress-label {
  font-weight: 400;
  font-size: 16px;
  span {
    font-weight: 400;
  }
}
.sppb-progress-div  {
    padding: 2px;
    background: #fff;
    border: 1px solid #9da6ab;
    border-radius: 6px;
    .sppb-progress {
      margin-bottom: 0px;
    }
  }
// --------------------------------------------------
// Css
//
.icon-fright {
  .sppb-column-addons {
    position:absolute;
    right: -15px;
    top: 15px;
    width: auto;
    >div {
      //float: left;
      display: inline-block;
      padding:0 15px;
    }
  }
}
.sppb-addon-feature {
  .sppb-media {
    .pull-left {
      margin-right: 16px;
    }
  }
}
.sppb-section.icon-absolute {
  .sppb-icon {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    z-index: -1;
    //opacity:0.5;
  }
}
.sppb-ajaxt-contact-form {
  > div label {
   margin-bottom: 20px;
  }
}
.sppb-addon-articlesslider {
  background: #f7f9f9;
  border-radius:4px 0 0 4px;
  overflow: hidden;
  .slider-for {
    padding-right: 0px;
    .image-box {
      position: relative;
        .sppb-tag {
          margin: 0px;
          padding: 0px;
          list-style: none;
          position: absolute;
          left: 10px;
          top: 10px;
          z-index: 111;
          text-align: left;
          li {
            line-height: 20px;
            margin-bottom: 4px;
            .list-tag {
              display: inline-block;
              background: rgba(0,0,0,0.2);
              border-radius:4px;
              color: #fff;
              padding: 4px 12px;
              font-size: 12px;
              line-height: 20px;
            }
          }
        }
     }
     .blog-box {
      background:rgba(255,255,255,0.8);
      padding:20px;
      border-radius:4px;
      position: absolute;
      left: 20px;
      bottom: 20px;
      height: auto;
      width: 50%;
      .sppb-readmore {
        font-weight: 500;
      }
    }
    .name-blog {
      margin-bottom: 10px;
      a {
        color: $text_colors;
        font-size: 27px;
        line-height: 30px;
        font-weight: 400;
        &:hover {
          color: $global_color;
        }
      }
    }
    .fields-container {
      .field-value {
        color: $text_colors;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 20px;
      }
    }
    .sppb-article-meta {
      margin: 0px 0 -10px -20px;
      padding: 10px 20px;
      width: auto;
      background: #fff;
      border-radius:4px 0 4px 0;
      display: inline-block;
      text-color:#899096;
      position: relative;
      top: -20px;
      font-style: italic;
       font-style: italic;
       font-size: 13px;
       font-weight: 400;
      > span {
        margin: 5px 5px 5px 0px;
        i {
          padding-right: 4px;
          color: $global_color;
        }
      }
    }
    .sppb-btn-link {
      text-decoration: none;
    }
    .sppb-article-introtext {
      margin-bottom: 16px;
    }
    .slick-arrow {
      margin: 0;
      //position: absolute;
      &.slick-prev , &.slick-next {
        position: absolute;
        font-size: 0px;
        bottom: 20px;
        background: transparent;
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 0;
        transition: all ease-in-out .15s;
        border-radius:50px;
        color: #c0c6c9;
        text-align: center;
         border:1px solid #c0c6c9;
         //margin-top: -25px;
         cursor: pointer;
         z-index: 11;
         outline:none;
        &:hover {
          border-color: $global_color;
          background: $global_color;
          color: #fff;

        }
        &.slick-disabled {
          cursor: default;
         border:1px solid #c0c6c9;
         color: #c0c6c9;
         background: transparent;
         opacity:0.1;
        }
        &:before {
          font-family: "Linearicons";
          display: inline-block;
          line-height: 42px;
          font-size: 14px;
          padding: 0px;
        }
      }
      &.slick-prev {
        right: 95px;
        &:before { 
        content: "\ec3b";
        }
      }
      &.slick-next { 
        right: 35px;
        &:before { 
        content: "\ec3c";
        }
      }
    }
  }
  .slider-nav {
    padding-left: 0px;
    .sppb-addon-article{
      padding: 20px;
      min-height: 80px;
    }
    .slick-current {
      background: #ecf0f1;
    }
    .sppb-img-responsive {
      float: left;
      width: 79px;
      border-radius:4px;
      margin-bottom: 5px;
      margin-right: 10px;
    }
    .sppb-article-meta {
      margin: 0;
      padding: 0;
      width: 100%;
      border-radius:0;
      display: inline-block;
      text-color:#899096;
      font-style: italic;
       font-style: italic;
       font-size: 12px;
        overflow: hidden;
        font-weight: 400;
      > span {
        margin: 5px 5px 5px 0px;
        i {
          padding-right: 4px;
          color: $global_color;
        }
      }
    }
    .name-blog {
      overflow: hidden;
      margin-top: -4px;
      color: #606366;
      font-size: 16px;
      line-height: 22px;
      font-weight: 700;
    }
  }
}
.sppb-social-share-style-simple{
  .sppb-social-items-wrap {
    margin-top: 10px;
    li {
      line-height: inherit;
      border:1px solid #d1d5d8;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 39px;
      border-radius: 40px;
      margin: 5px!important;
      overflow: hidden;
      a {
        padding: 0 0!important;
        color: #d1d5d8;
        display: block;
        height: 100%;
        line-height: 38px;
        i {
          line-height: 38px;
        }
      }
      &:hover {
        a {
          background: #d1d5d8;
          color: #fff;
        }
      }
    }
  }
}
.sppb-social-share-style-solid {
  .sppb-social-items-wrap {
    margin-top: 10px;
    li {
      width: 40px!important;
      height: 40px!important;
      text-align: center;
      line-height: 39px;
      border-radius: 40px;
      margin: 5px!important;
      overflow: hidden;
      a {
        display: block;
        padding: 0 0!important;
        height: 40px!important;
        border-radius: 40px;
      }
    }
  }
}

.sppb-social-items-wrap {
  li {
    line-height: inherit;
    a {
      padding: 9px 9px!important;
    }
  }
}
.time-worck {
  margin: 0 auto;
  list-style: none;
  padding: 0;
  li {
    border-top: 1px solid #edeff1;
    font-size: 14px;
    line-height: 20px;
    padding: 15px 0px;
    color: #1e2428;
    strong {
      text-align: left;
      padding-right: 30px;
      min-width: 120px;
      display: inline-block;
    }
    &:first-child {
      border:none;
      padding-top: 0px; 
    }
  }
}
.sppb-ajax-contact-content {
  .sppb-form-check {
    padding-left: 0px;
    .checkbox {
      float: left;
      width: 26px;
      margin-right: 10px;
    }
    .sppb-form-check-label {
      overflow: hidden;
    }
  }
}
.sppb-addon-flickr {
  .sppb-flickr-gallery {
    margin: -5px;
    li {
      padding: 5px;
      a::before {
        background: rgba(0,0,0,0.3)!important;
      }
    }
  }
}
#k2LatestCommentsBlock {

}
.sppb-optin-form-popup-wrap {
  border-radius: 4px;
  > div {
    border-radius: 4px;
  }
  .mfp-close {
    background: #d1d5d8;
    width: 35px;
    height: 35px;
    line-height: 30px;
    outline: none;
    border-radius:0 4px 0 0;
  }
}
.animated-heading-highlighted-text.shape-circle {
  padding-top: 0px;
  padding-bottom: 0px;
}
.animated-text-words-wrapper .animated-text {
  text-transform: inherit;
}
//slideshow
div.sppb-addon-sp-slider {
  .sp-slider-outer-stage {
     @media (min-width: 768px) and (max-width: 991px) {
     height: 400px!important;
    }
  }
  .sppb-col-sm-12-img {
    .text-column {
       @media (min-width: 320px) and (max-width: 480px) {
       max-width: 100%;
       -ms-flex: 0 0 100%;
        -moz-flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        flex: 0 0 100%;
      }
    }
    .image-align-left , .image-align-right {
      @media (min-width: 320px) and (max-width: 480px) {
         max-width: 100%;
       -ms-flex: 0 0 100%;
        -moz-flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        flex: 0 0 100%;
      }
    }
  }
  &.dot-controller-dot {
     .sp-dots{
      z-index: 11;
      //height: auto;
     width: auto!important;
     padding: 0 2px;
      @media (min-width: 1300px) {
      // bottom: 30px;
      }
      ul li{
        border:1px solid #bec4c8;
        background: transparent;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin: 0 5px;
        transition: all ease-in-out .15s;
        border-radius:18px;
        overflow: visible;
        span {
          display: none;
        }
        &.active {
          border-color: $global_color;
          background: $global_color;
        }
      }
    }
  }
    position: relative; 
   
    div.sp-nav-control {
      margin: 0;
      bottom: auto;
      top: 50%!important;
      .prev-control , .next-control {
        background: transparent;
        display: inline-block;
        margin: 0;
        transition: all ease-in-out .15s;
        border-radius:50px;
        color: #bec4c8;
        text-align: center;
         border:1px solid #bec4c8;
         @media (min-width: 1300px) {
        }
        .fa {
          display: none!important;
        }
        &:hover {
          border-color: $global_color;
          background: $global_color;
          color: #fff;

        }
        &:before {
          font-family: "Linearicons";
          display: inline-block;
          //line-height: 22px;
          font-size: 12px;
          padding: 0px;
          @media (min-width: 1300px) {
            //line-height: 42px;
            font-size: 14px;
          }
        }
      }
      .prev-control {
        left: 8px;
        &:before { 
        content: "\ec3b";
        }
      }
      .next-control { 
        right: 8px;
        &:before { 
        content: "\ec3c";
        }
      }
    }
    &.arrow-position-bottom_right {
      div.sp-nav-control {
        top: auto!important;
      }
    }
  }
.sppb-section.slider-portfolio {
  .sppb-sp-slider-image {
    img {
    }
  }
} 