#sp-footer {
    position: relative;
    color: $footer_text_color;
    font-size: 16px;
    line-height: 24px;
    &:before {
        content: " ";
        display: block;
        height: 3px;
        width: 100%;
        @include gradient-x-three-colors(darken($global_color2, 30%) , $global_color, 40%, $global_color2);
        position: absolute;
        left:0;
        top: 0;
    }
    .sppb-addon-header {
      .sppb-addon-title {
        .sppb-addon-title-icon {
          color: $global_color2;
          display: inline-block;
          border:1px solid  $global_color2;
          border-radius:100%;
          padding: 6px;
          margin-right: 10px;
          width: 27px;
          height: 27px;
          font-size: 14px;
          float: left;
          &:before {
            position: relative;
            top: 0px;
          }
        }
      }
    }
  div.sppb-link-list-list {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        font-size: 16px;
        line-height: 36px;
        margin-bottom: 0px;
        padding: 0;
        &:before {
          font-family: "Linearicons";
          display: inline-block;
          line-height: 18px;
          font-size: 10px;
          padding: 0px;
          content: "\ec3c";
          border:1px solid #bec4c8;
          border-radius:50px;
          color: #bec4c8;
          height: 20px;
          width: 20px;
          text-align: center;
          position: relative;
          top: 0px;
          margin-right: 10px;
          padding-left: 1px;
          box-sizing:border-box;
        }
        a{
          color: $footer_text_color;
          &:hover {
            color: $global_color;
          }
        }
        &.active {
          a {
            color: $global_color;
          }
        }
        ul {
          li {
            a:before { 
              content: "-";
              padding: 0 10px;
            }
          }
        }
      }
    }
  }  
}
#sp-copyright-all {
    text-align: center;
}

