.modals-open {
    .sp-megamenu-parent {
        visibility: hidden;
        z-index: -1;
        opacity:0;
    }
    #sp-header {
        &.bg {
            background: #fff;
        }
    }
}
#sp-top-bar {
     &.bg {
        background: rgba(255,255,255,0.9);
        border-bottom: 1px solid rgba(255,255,255,0.5)!important;
        position: relative;
        z-index: 100;
    }
    &.style-1,&.style-3,&.style-5, &.style-6 {
    &:before {
        content: " ";
        display: block;
        height: 3px;
        width: 100%;
        @include gradient-x-three-colors(darken($global_color2, 30%) , $global_color, 40%, $global_color2);
        position: absolute;
        left:0;
        top: 0;
    }
    }
    &.style-1 ,&.style-2 ,&.style-3 , &.style-4, &.style-5 , &.style-6 {
        border-bottom: 1px solid #ecf0f1;
         
        #sp-top1 {
            @media (min-width: 320px) and (max-width: 991px) {
                padding-bottom: 12px;
            }
            .sp-contact-info {
                overflow: hidden;
                li {
                    font-size: 13px;
                    line-height: 20px;
                    color: $topbar_text_color;
                    @media (min-width: 320px) and (max-width: 479px) {
                        padding-top: 4px;
                        padding-bottom: 4px;
                    }
                    a {
                        font-size: 13px;
                        line-height: 20px;
                    }
                    span {
                        border-radius:100%;
                        border: 1px solid $topbar_text_color;
                        font-size: 10px;
                        line-height: 20px;
                        display: inline-block;
                        text-align: center;
                        width: 22px;
                        height: 22px;
                        margin-right: 8px;
                    }
                }
            }
        }
        #sp-top2 {
            .social-icons {
                overflow: hidden;
                li {
                    font-size: 13px;
                    line-height: 20px;
                    margin: 0 4px;
                    a {
                        font-size: 13px;
                        line-height: 20px;
                    }
                    span {
                        border-radius:100%;
                        border: 1px solid $topbar_text_color;
                        font-size: 10px;
                        line-height: 20px;
                        display: inline-block;
                        text-align: center;
                        width: 22px;
                        height: 22px;
                        margin-right: 0px;
                        transition: all 400ms, background-color 400ms;
                    }
                    &:hover {
                       span {border-color: $global_color;}
                    }
                }
            }
        }
    }
    &.style-4 { 
        border-bottom: none;
        padding-top: 0px;
        padding-bottom: 0px;
        #sp-top2 { 
            padding-bottom: 10px;
        }
    }
}
#sp-header {
    &.bg {
        background: rgba(255,255,255,0.9);
        border: none;
    }
    .row-pos {
       //position: static!important;
    }
   &.style-2 {
         &:before {
            content: " ";
            display: block;
            height: 3px;
            width: 100%;
            @include gradient-x-three-colors(darken($global_color2, 30%) , $global_color, 40%, $global_color2);
            position: absolute;
            left:0;
            top: 0;
        }
    }
    &.style-1,&.style-2 {
        border-bottom: 1px solid #ecf0f1;
        box-shadow: 0 1px 4px rgba(0,0,0,0.10);
         #offcanvas-toggler {
            position: relative;
            top: 3px;
        }
        .sp-megamenu-wrapper {
            float: right;
            width: auto;
            @media (min-width: 320px) and (max-width: 479px) {
                float: left;
            }
        }
        .hidden {
            display: none;
        }
        .sp-module.search {
            float: right;
            margin-left: 30px;
            width: 40px;
            height: 40px;
            .hidden {
                display: block;
            }
            .search-toogle  .linearicons-magnifier {
                display: block;
                line-height: 40px;
                font-size: 16px;
                text-align: center;
                width: 40px;
                height: 40px;
                border: 1px solid $topbar_text_color;
                color: $topbar_text_color;
                border-radius:100%;
                transition: all 400ms;
                cursor: pointer;
                 transition: all 400ms;
                 position: absolute;
                top: 1px;
                right: 15px;
                &:hover {
                    color: $menu_text_hover_color;
                    border-color: $menu_text_hover_color;
                }
            }
            .search-box {
                > .search {
                    position: absolute;
                    right: 0px;
                    top: -3px;
                    width: 100%;
                    padding: 0 70px 0 15px;
                    visibility: hidden;
                    z-index: -1;
                    opacity:0;
                    transition: all 400ms;
                    background: $header_bg_color;
                    form {
                        position: relative;
                        left: -20%;
                        transition: all 400ms;
                        input {
                            line-height: 20px;
                            padding: 10px 20px;
                            height: 40px;
                            border-radius:4px;
                            text-transform: capitalize;
                            margin-top: 4px;
                        }
                        .input-group-btn {
                            position: absolute;
                            right: 10px;
                            top: 14px;
                            line-height: 20px;
                        }
                        .src-btn {
                            border: none;
                            background: none;
                            box-shadow:none;
                            color: #9da6ab;
                            font-size: 20px;
                            padding: 0px;

                        }
                    }
                    .search-toogle {
                        display: block;
                        line-height: 40px;
                        font-size: 16px;
                        text-align: center;
                        width: 40px;
                        height: 40px;
                        border: 1px solid $topbar_text_color;
                        color: $topbar_text_color;
                        border-radius:100%;
                        transition: all 400ms;
                        cursor: pointer;
                        float: right;
                        position: absolute;
                        top: 4px;
                        right: 15px;
                        &:hover {
                            color: $menu_text_hover_color;
                            border-color: $menu_text_hover_color;
                        }
                    }
                }
            }
            &.open {
                .hidden { 
                }
                .search-box  {
                     > .search { 
                        z-index: 1;
                        visibility: visible;
                        opacity:1;
                         form {
                            left: 0;
                        }
                     }
                }
            }
        }
        
    }
    &.style-3 {
        border-bottom: 1px solid #ecf0f1;

        #sp-logo-after {
        }
        #sp-logo {
            text-align: center;
        }
        .sp-megamenu-wrapper {
        }
        .hidden {
            display: none;
        }
        .sp-module.search {    
            .search-box {
                > .search {          
                    form {
                        position: relative;
                        input {
                            line-height: 20px;
                            padding: 10px 20px;
                            height: 40px;
                            border-radius:4px;
                            text-transform: capitalize;
                        }
                        .input-group-btn {
                            position: absolute;
                            right: 10px;
                            top: 10px;
                            line-height: 20px;
                        }
                        .src-btn {
                            border: none;
                            background: none;
                            box-shadow:none;
                            color: #9da6ab;
                            font-size: 20px;
                            padding: 0px;

                        }
                    }
                }
            }
        }
        
    }
    &.style-4{ 
        border-bottom: 1px solid #ecf0f1;
        &:before {
            content: " ";
            display: block;
            height: 3px;
            width: 100%;
            @include gradient-x-three-colors(darken($global_color2, 30%) , $global_color, 40%, $global_color2);
            position: absolute;
            left:0;
            top: 0;
        }
    }
    &.style-5{ 
        border-bottom: 1px solid #ecf0f1;
    }
    &.style-6{ 
        border-bottom: 1px solid #ecf0f1;
         #sp-logo-after {
        }
        #sp-logo {
            text-align: left;
        }
        .sp-megamenu-wrapper {
        }
        .hidden {
            display: none;
        }
        .sp-module.search {    
            .search-box {
                > .search {          
                    form {
                        position: relative;
                        input {
                            line-height: 20px;
                            padding: 10px 20px;
                            height: 40px;
                            border-radius:4px;
                            text-transform: capitalize;
                        }
                        .input-group-btn {
                            position: absolute;
                            right: 10px;
                            top: 10px;
                            line-height: 20px;
                        }
                        .src-btn {
                            border: none;
                            background: none;
                            box-shadow:none;
                            color: #9da6ab;
                            font-size: 20px;
                            padding: 0px;

                        }
                    }
                }
            }
        }
    }
}
#sp-menu {
    &.style-3 {
       // min-height: $header_height;
        left: 0;
        position: relative;
        top: 0;
        width: 100%;
        z-index: 99;
        padding: 10px 0;
        background: $header_bg_color;
        box-shadow: 0 4px 4px rgba(0,0,0,0.30);
        #offcanvas-toggler {
            position: relative;
            top: 1px;
        }
        .sp-megamenu-wrapper {
           display: table;
           width: auto;
           margin: 0 auto;
           text-align: center;
           .sp-megamenu-parent {
            text-align: left;
           }
        }
    }
    &.style-4  , &.style-5   {
        //min-height: $header_height;
        left: 0;
        position: relative;
        top: 0;
        width: 100%;
        z-index: 99;
        padding: 10px 0;
        background: $header_bg_color;
        box-shadow: 0 4px 4px rgba(0,0,0,0.30);
        #offcanvas-toggler {
            position: relative;
            top: 1px;
        }
        .sp-megamenu-wrapper {
           display: block;
           width: auto;
           margin: 0;
           text-align: left;
           float: left;
           .sp-megamenu-parent {
            text-align: left;
            margin-left: -20px;
           }
        }
         .hidden {
            display: none;
        }
        .sp-module.search {
            float: right;
            margin-left: 30px;
            width: 40px;
            height: 40px;
            .hidden {
                display: block;
            }
            .search-toogle  .linearicons-magnifier {
                display: block;
                line-height: 40px;
                font-size: 16px;
                text-align: center;
                width: 40px;
                height: 40px;
                border: 1px solid $topbar_text_color;
                color: $topbar_text_color;
                border-radius:100%;
                transition: all 400ms;
                cursor: pointer;
                 transition: all 400ms;
                 position: absolute;
                top: 1px;
                right: 15px;
                &:hover {
                    color: $menu_text_hover_color;
                    border-color: $menu_text_hover_color;
                }
            }
            .search-box {
                > .search {
                    position: absolute;
                    right: 0px;
                    top: -3px;
                    width: 100%;
                    padding: 0 70px 0 15px;
                    visibility: hidden;
                    z-index: -1;
                    opacity:0;
                    transition: all 400ms;
                    background: $header_bg_color;
                    form {
                        position: relative;
                        left: -20%;
                        transition: all 400ms;
                        input {
                            line-height: 20px;
                            padding: 10px 20px;
                            height: 40px;
                            border-radius:4px;
                            text-transform: capitalize;
                            margin-top: 4px;
                        }
                        .input-group-btn {
                            position: absolute;
                            right: 10px;
                            top: 14px;
                            line-height: 20px;
                        }
                        .src-btn {
                            border: none;
                            background: none;
                            box-shadow:none;
                            color: #9da6ab;
                            font-size: 20px;
                            padding: 0px;

                        }
                    }
                    .search-toogle {
                        display: block;
                        line-height: 40px;
                        font-size: 16px;
                        text-align: center;
                        width: 40px;
                        height: 40px;
                        border: 1px solid $topbar_text_color;
                        color: $topbar_text_color;
                        border-radius:100%;
                        transition: all 400ms;
                        cursor: pointer;
                        float: right;
                        position: absolute;
                        top: 4px;
                        right: 15px;
                        &:hover {
                            color: $menu_text_hover_color;
                            border-color: $menu_text_hover_color;
                        }
                    }
                }
            }
            &.open {
                .hidden { 
                }
                .search-box  {
                     > .search { 
                        z-index: 1;
                        visibility: visible;
                        opacity:1;
                         form {
                            left: 0;
                        }
                     }
                }
            }
        } 
    }
    &.style-6   {
        //min-height: $header_height;
        left: 0;
        position: relative;
        top: 0;
        width: 100%;
        z-index: 99;
        padding: 10px 0;
        background: $header_bg_color;
        box-shadow: 0 4px 4px rgba(0,0,0,0.30);
        #offcanvas-toggler {
            position: relative;
            top: 4px;
        }
        .sp-megamenu-wrapper {
           display: block;
           width: auto;
           margin: 0;
           text-align: left;
           float: left;
           .sp-megamenu-parent {
            text-align: left;
            margin-left: -20px;
           }
        }
         .hidden {
            display: none;
        }
    }    
}