// Offcanvas
#sp-menu {
    @media (min-width: 480px) and (max-width: 991px) {
        position: absolute!important;
        top: 0px;
        right: 0px;
        width: 70%  
    }
    @media (min-width: 320px) and (max-width: 479px) {
        position: relative!important;
    }
}
.sp-megamenu-parent {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 99;
    display: block;
    float: right;
    position: static;
    transition: all 400ms;
    .no_link {
        cursor: default;
        pointer-events: none;
    }
    >li {
        display: inline-block;
        position: relative;
        padding: 0 0 4px;
        margin: 0 20px;
        line-height:40px;
        @media (min-width: 992px) and (max-width: 1199px) {
            margin: 0 10px;
        }
        &.menu-justify {
            position: static;
        }
        >a, >span {
            display: inline-block;
            padding: 0 0;
            line-height:40px;
            font-size: 14px;
            margin: 0;
            color: $menu_text_color;
            position:relative;

        }
        &:hover {
            a {
                color: $menu_text_hover_color;
            }
        }
        &.sp-has-child>a:after,
        &.sp-has-child>span:after{
            font-family: "FontAwesome";
            content: " \f107";
        }

        &.active > a {
            color:$menu_text_active_color;
        }

        .sp-menu-badge {
            height: 16px;
            line-height: 16px;
            padding: 0 6px;
            font-size: 9px;
            letter-spacing: 1px;
            display: inline-block;
            text-transform: uppercase;
            background: $global_color2;
            color: #fff;
            border-radius: 3px;
            position:absolute;
            right: 0;
            top: -5px;
            &.sp-menu-badge-right {
                margin-left: 5px;
            }

            &.sp-menu-badge-left {
                margin-right: 5px;
            }
        }
    }

    .sp-module {
        padding: 10px;
    }

    .sp-mega-group {
        list-style: none;
        padding: 0;
        margin: 0;

        li.uppercase > a {
            display: block;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 10px;
            color: $menu_dropdown_text_color;
             
        }

        li.menu_item > a {
            display: inline-block;
            padding: 0 0;
            line-height: 20px;
            font-size: 14px;
            margin: 0;
            color: $menu_text_color;
            position:relative;
            &:hover {
                color: $menu_text_hover_color;
            }  
        }
        .sp-mega-group-child{
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }

    .sp-dropdown{
        margin: 0;
        position: absolute;
        z-index: 10;
        display: none;
        &.sp-dropdown-mega  {
            .sp-dropdown-inner{ 
             padding: 24px 30px 24px 30px;
                li.sp-menu-item { 
                    a {
                        padding-left: 0px;
                        padding-right: 0px;
                         transition: all 400ms;
                        &:hover {
                            padding-left: 14px;
                        }
                    }
                    &.active {
                        >a {
                            padding-left: 14px;
                        }
                    }
                }
            }
        }
        .sp-dropdown-inner{
            box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
            background:$menu_dropdown_bg_color;
            padding: 0;
        }

        .sp-dropdown-items{
            list-style: none;
            padding: 0;
            margin: 0;

            .sp-has-child > a:after{
                font-family: "FontAwesome";
                content: " \f105";
                float: right;
            }
            .sp-has-child {
                margin-right: 0px;
                padding: 0 0 0 0;
            }
        }

        &.sp-menu-center{
            margin-left: 45px;
        }

        &.sp-dropdown-main {
            top: 100%;

            &.sp-menu-right {
                left: 0;
            }

            &.sp-menu-full {
                left: auto;
                right: 0px;
                width: 100%;
                max-width: 100%;
                padding-left: 0px;
                padding-right: 0px;
            }

            &.sp-menu-left {
                right: 0;
            }
        }

        &.sp-dropdown-sub {
            top: 0;
            left: 100%;
            margin-top: 0px;
            margin-left: 0px;
            .sp-dropdown-inner {
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            }
        }

        //List Item
        li.sp-menu-item { //child sub
            display: block;
            padding: 0;
            position: relative;
            border-top:1px solid rgba($menu_dropdown_text_color, 0.1);
            &:first-child {
                border-top: none;
            }    
            >a, span:not(.sp-menu-badge) {
                font-size: 16px!important;
                display: block;
                padding: 4px 14px;
                cursor: pointer;
                color: $menu_dropdown_text_color;
                &.sp-group-title {
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
            &:hover {
                >a, span:not(.sp-menu-badge) { 
                    color: $menu_dropdown_text_hover_color;
                   background: rgba(#f7f9f9, 0.8);
                }
            }
            &.active {
                >a, span:not(.sp-menu-badge) { 
                    color: $menu_dropdown_text_active_color;
                     background: rgba(#f7f9f9, 0.8);
                }
            }
        }
    }

    .sp-dropdown-mega {
        >.row {
            margin-top: 30px;
            &:first-child {
                margin-top: 0;
            }
        }
    }

    //Has Child
    .sp-has-child {
        &:hover {
            >.sp-dropdown {
                display: block;
            }
        }
    }

    //fadeIn
    &.menu-animation-fade {
        .sp-has-child {
            &:hover {
                >.sp-dropdown {
                    animation: fadeIn 600ms;
                }
            }
        }
    }

    // fadeInUp
    &.menu-animation-fade-up {
        .sp-has-child {
            &:hover {
                >.sp-dropdown {
                    animation: fadeInUp 400ms ease-in;
                }
            }
        }
    }

    // fadeInDown
    &.menu-animation-fade-down {
        .sp-has-child {
            &:hover {
                >.sp-dropdown {
                    animation: fadeInDown 400ms ease-in;
                }
            }
        }
    }

    // zoomIn
    &.menu-animation-zoom {
        .sp-has-child {
            &:hover {
                >.sp-dropdown {
                    animation: zoomIn 300ms;
                }
            }
        }
    }
    
    // rotateIn
    &.menu-animation-rotate {
        .sp-has-child {
            &:hover {
                >.sp-dropdown {
                    animation: rotateIn 300ms;
                }
            }
        }
    }

    // Elastic
    &.menu-animation-pulse {
        .sp-has-child {
            &:hover {
                >.sp-dropdown {
                    animation: pulse 300ms;
                }
            }
        }
    }

}

@media (min-width: 576px) {
    .sp-menu-full.container {
      width: 540px;
    }
  }
  
@media (min-width: 768px) {
    .sp-menu-full.container {
      width: 720px;
    }
}

@media (min-width: 992px) {
    .sp-menu-full.container {
      width: 960px;
    }
}

@media (min-width: 1200px) {
    .sp-menu-full.container {
      width: 1140px;
    }
}
.slicknav_menu {
    background:#fff;
    //padding:10px 20px;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    position: relative;
    z-index: 111111;
    margin: 0 -30px;
    display: none!important;

    @media (min-width: 320px) and (max-width: 991px) {
        display: block!important;
    }
    .no_link {
        cursor: default;
        pointer-events: none;
    }
    a.slicknav_btn {
        color: #262d36;
        margin-bottom: 20px;
        pointer-events:none;
        display: none!important;
        &:hover {
            color: $global_color;
        }
        &:before {
            content: '\ec2f';
            font-family: "Linearicons";
            font-size: 16px;
            padding-right:10px;
        }
    }
    .slicknav_nav {
        padding:0 30px 30px;
        display: block!important;
    }
    >ul {
        list-style: none;
        
        margin: 0px;
        >li {
            font-size: 16px;
            text-transform: uppercase;
            line-height: 30px;
            border-top:1px solid #e8e9e9;
            padding-top:15px;
            padding-bottom:15px;
            position:relative;
            &:first-child {
                border-top:none;
            }
            a {
                color: #262d36;
                position:relative;
                display: inline-block;
                &:hover {
                    color: $global_color;
                }
            }
            .sp-menu-badge {
                position:relative;
                top: -1px;
                //right:;
                padding:0 4px;
                margin: 0 4px;
                font-size: 12px;
                line-height: 20px;
            }
            .icon {
                color: $global_color;
                background: #fff;
                border:1px solid $global_color;
                border-radius:100%;
                width: 24px;
                height: 24px;
                text-align:center;
                line-height: 20px;
                opacity:1;
                position:relative;
                top: 2px;
                &:before {
                    content: "\ec3c";
                    font-family: "Linearicons";
                    font-size: 12px;
                    padding-left:2px;
                    display: inline-block;
                }
                &.expanded {
                    &:before {
                        content: "\ec3a";
                        font-family: "Linearicons";
                    }
                }
            }
            &.active {
                >a {
                   color: $global_color; 
                }
            }
        }
        .sp-dropdown {
            width: 100%!important;
            ul {
                margin-top: 8px;
                >li {
                    position:relative;
                    .icon { 
                        top: 6px;
                    }
                    &.active {
                        >a {
                           color: $global_color; 
                        }
                    }
                }
            }
            .sp-dropdown-inner > ul.sp-dropdown-items {
                display: block!important;
            }
            .sp-mega-group {
                padding-top:0px;
                padding-top:0px;
                display: block!important;
                .item-header {
                    .sp-dropdown-items {
                        display: none;
                    }
                }
                .item-header.active {
                    .sp-dropdown-items {
                        display: block;
                    }
                }
            }
        }
        .sp-menu-full {
            width: 100%;
            padding:0px;
            max-width: 100%;
            .row {
                margin: 0px;
                width: 100%;
                >div {
                    width: 100%;
                    padding:0px;
                    max-width: 100%;
                    -moz-box-flex: 0 0 100%;
                    flex: 0 0 100%;
                }
            }
            .sp-mega-group {
                .sp-dropdown-items {
                    padding-top:0px;
                    padding-bottom:0px;
                }
            }
        }
        ul {
            padding-left:15px;
            li {
                text-transform: capitalize;
                font-size: 14px;
            }

        }
    }
}
