/**
 * @package Helix Ultimate Framework
 * @author JoomShaper https://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2018 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or Later
*/
$link_color : $global_color2;
$link_hover_color : $text_colors;
body {
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  color: $text_colors;
  background:$bg_color;
  &.helix-ultimate-preloader {
    overflow: hidden;
    &:before {
      content: " ";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 99998;
      background: rgba(255, 255, 255, .9);
    }
    &:after {
      content: "\f110";
      font-family: "FontAwesome";
      font-size: 36px;
      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -24px;
      margin-left: -24px;
      width: 48px;
      height: 48px;
      line-break: 48px;
      text-align: center;
      color: #007bff;
      -webkit-animation: fa-spin 2s infinite linear;
      animation: fa-spin 2s infinite linear;
      z-index: 99999;
    }
  }
}

a {
  color: $link_color;
  transition: color 400ms, background-color 400ms;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: $link_hover_color;
}

label {
  font-weight: normal;
}

legend {
  padding-bottom: 10px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

//Topbar

#sp-top-bar {
  background: $topbar_bg_color;
  color: $topbar_text_color;
  padding-top: 3px;
  .container {
    padding-top: 13px;
    padding-bottom: 15px;
  }
  a {
    color: $topbar_text_color;
    &:hover {
      color: $global_color;
    }
  }
  .sp-module {
    display: inline-block;
  }
  font-size: 16px;
  line-height: 20px;
}

ul.social-icons {
  list-style: none;
  padding: 0;
  margin: -5px;
  display: inline-block;
  >li {
    display: inline-block;
    margin: 5px 7px;
  }
}

// language switcher
.sp-module-content {
  .mod-languages {
    ul.lang-inline {
      margin: 0;
      padding: 0;
      li {
        border: none;
        display: inline-block;
        margin: 0 5px 0 0;
        a {
          padding: 0 !important;
        }
        >a:before {
          display: none;
        }
      }
    }
  }
}

.sp-contact-info {
  list-style: none;
  padding: 0;
  margin: 0 -10px;
  li {
    display: inline-block;
    margin: 0 10px;
    font-size: 90%;
    i {
      margin: 0 3px;
    }
  }
}

// Header
#sp-header {
  //min-height: $header_height;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 99;
  padding: 10px 0;
  background: $header_bg_color;
   transition: all ease .15s;
  #sp-logo {
    @media (min-width: 320px) and (max-width: 479px) {
       text-align: center; 
    }
    .sp-column {
      height: 100%;
    }
  }
  .logo {
    //height: $header_height;
    display: inline-flex;
    margin: 0;
    align-items: center;
    height: 100%;
    a {
      font-size: 24px;
      //line-height: 1;
      margin: 0;
      padding: 0;
      vertical-align: middle;
      display: inline-block;
      img {
        vertical-align: middle;
        display: inline-block;
      }
    }
    p {
      margin: 5px 0 0;
    }
  }

}

#sp-header.menu-fixed , div#sp-menu.menu-fixed {
    position: fixed!important;
    z-index: 9999;
    box-shadow: 0 1px 4px rgba(0,0,0,0.10);
    width: 100%;
     background: $header_bg_color;
     //min-height: 54px;
     //padding: 4px 0;
     top: 0;
     left: 0;
  }
.sppb-section.test {
  //margin-top: 20px!important;
}
// Page Title

#sp-title {
  min-height: 0;
  .sp-page-title {
    color: #fff;
    padding: 80px 0;
    &.bg {
      padding-top: 90px;
      padding-bottom: 90px;
      color: #fff;
      position: relative;
      background-size: cover;
      &:before {
        content: " ";
        background-color: rgba($global_color3,0.5);
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
      .sp-page-title-heading {
         position: relative;
        z-index: 1;
      }
      .breadcrumb {
         background: none;
        padding: 0;
        //margin: 0 0 0 0;
        float: none;
        display: table;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 1;
        .active {
          color: #fff;
        }
        li {
          padding-left:7px;
          font-weight: 500;
          text-transform: capitalize;
        }
        >span, >li, >li+li:before{
          color: #fff;
        }
        >li>a { 
          color: #fff;
          &:hover {
            color: rgba(#fff,0.6);
          }
        }
      }
    }
  }
}

#sp-title {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
 .sp-page-title-heading {
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
  }
  .sp-page-title-sub-heading {
    font-size: 24px;
    line-height: 1;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin-top: 10px;
  }
  
  .breadcrumb {
    background: none;
    padding: 0;
    //margin: 0 0 0 0;
    float: none;
    display: table;
    margin: 0 auto;
    text-align: center;
    .active {
      color: rgba(#fff, 0.7);
    }
    li {
      padding-left:7px;
      text-transform: capitalize;
      display: inline-block;
    }
    >span, >li, >li+li:before{
      color: #fff;
    }
    >li>a { 
      color: #fff;
      &:hover {
        color: $global_color;
      }
    }
  }
}


// Body
.body-innerwrapper{
  overflow-x: hidden;
}
.layout-boxed .body-innerwrapper {
  max-width: 1240px;
  margin: 0 auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#sp-main-body {
  padding: 70px 0;
  background:#fff;
  @media (min-width: 320px) and (max-width: 767px) {
    padding: 30px 0;
  }
}

.com-sppagebuilder #sp-main-body {
  padding: 0;
}


// Left and Right

#sp-left,
#sp-right {
  .sp-module { 

    margin-top: 40px;
    border: none;
    padding: 0;
    border-radius: 0;

    &:first-child {
      margin-top: 0;
    }
    .sp-module-title {
    }
    //Un-ordered List
    ul.k2CategoriesListBlock, ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      font-size: 16px;
      line-height: 36px;
      margin-bottom: 0px;
      list-style: none;
      &:before {
        font-family: "Linearicons";
        display: inline-block;
        line-height: 18px;
        font-size: 10px;
        padding: 0px;
        content: "\ec3c";
        border:1px solid #bec4c8;
        border-radius:50px;
        color: #bec4c8;
        height: 20px;
        width: 20px;
        text-align: center;
        position: relative;
        top: 0px;
        margin-right: 10px;
        padding-left: 1px;
        box-sizing:border-box;
      }
       a , span{
        color: $text_colors;
        &:hover {
          color: $global_color;
        }
      }
      &.active {
        a , span {
          color: $global_color;
        }
      }
      ul.menu-child {
        margin: 0px;
        li {
          list-style: none;
          a , span{
            color: $text_colors;
            &:hover {
              color: $global_color;
            }
          }
          a:before , span:before { 
            content: "-";
            padding: 0 10px;
          }
           &.active {
            a , span {
              color: $global_color;
            }
          }
        }
      }
    }
  }
    //List category
    .categories-module {
      ul {
        margin: 0 10px;
      }
    }
    //Latest News
    .latestnews {
      >div {
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #e8e8e8;
        &:last-child {
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: 0;
        }
        >a {
          display: block;
          font-weight: 400;
        }
      }
    }
    //Tags Cloud
    .tagscloud {
      margin: -2px 0;
      .tag-name {
        display: inline-block;
        padding: 5px 10px;
        background: #808080;
        color: #fff;
        border-radius: 4px;
        margin: 2px 0;
        span {
          display: inline-block;
          min-width: 10px;
          padding: 3px 7px;
          font-size: 12px;
          font-weight: 700;
          line-height: 1;
          text-align: center;
          white-space: nowrap;
          vertical-align: baseline;
          background-color: rgba(0, 0, 0, 0.2);
          border-radius: 10px;
        }
      }
    }
    .k2ItemsBlock {
      ul {
        li {
          line-height: inherit;
          font-size: inherit;
          .sppb-article-meta {
            padding-top: 4px;
          }
        }
      }
    }
     .k2LatestCommentsBlock {
      ul {
        li {
          line-height: inherit;
          font-size: inherit;
          .image-box {
            .k2Avatars {
              background: none!important;
            }
          }
          .sppb-article-meta {
            padding-top: 4px;
          }
        }
      }
    }
    .mod_jt_tabs  {
      .jt_tabs {
        border-radius:4px;
        width: auto;
        display: block;
        overflow: hidden;
        li {
          margin: 0 -1px 0 0;
          border: none;
          position: relative;
          font-size: 16px;
          line-height: 20px;
          font-weight: 400;
          color: $text_colors;
          background:transparent;
          padding:12px 20px;
          border: 1px solid #9da6ab!important;
          border-radius:0px;  
          &.current {
            color: #fff;
            background:$global_color2!important;
            border-color:$global_color2!important;
          }
          &:first-child {
              border-radius:4px 0 0 4px;  
          }
          &:last-child {
            margin-right: 0px;
            border-radius:0 4px 4px 0;  
          }
        }
      }
      .jt_box {
        padding:30px 0 0 0;
        border: none;
      }
    }
  }
}

// Login Form

.login {
  img {
    display: inline-block;
    margin: 20px 0;
  }
  .checkbox {
    input[type="checkbox"] {
      margin-top: 6px;
    }
  }
}

.form-links {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}


// Search

.search {
  .btn-toolbar {
    margin-bottom: 20px;
    span.icon-search {
      margin: 0;
    }
    button {
      color: #fff;
    }
  }
  .phrases {
    .phrases-box {
      .controls {
        label {
          display: inline-block;
          margin: 0 20px 20px;
        }
      }
    }
    .ordering-box {
      margin-bottom: 15px;
    }
  }
  .only {
    label {
      display: inline-block;
      margin: 0 20px 20px;
    }
  }
  .search-results {
    dt.result-title {
      margin-top: 40px;
      font-size: 22px;
    }
    dt, dd {
      margin: 5px 0;
    }
  }
}

.filter-search {
  .chzn-container-single {
    .chzn-single {
      height: 34px;
      line-height: 34px;
    }
  }
}

.form-search {
  .finder {
    label {
      display: block;
    }
    .input-medium {
      width: 60%;
      border-radius: 4px;
    }
  }
}

.finder {
  .word {
    input {
      display: inline-block;
    }
  }
  .search-results.list-striped {
    li {
      padding: 20px 0;
    }
  }
}

// Blog

.article-list {
  .article {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #f5f5f5;
    border-radius: 3px;

    .article-intro-image,
    .article-featured-video,
    .article-featured-audio,
    .article-feature-gallery {
      margin: -20px -20px 20px -20px;
      border-radius: 3px 3px 0 0;
      border-bottom: 1px solid #f5f5f5;
      overflow: hidden;
      img {
        border-radius: 3px 3px 0 0;
      }
    }

    .article-header {
      h1,
      h2 {
        font-size: 1.375rem;
        margin: 0 0 1.250rem 0;

        a {
          color: $link_color;
          &:hover,
          &:active,
          &:focus {
            color: $link_hover_color;
          ;
          }
        }
      }
    }

    .readmore {
      font-size: 0.875rem;
      a {
        color: $link_color;
        font-weight: 500;
        &:hover,
        &:active,
        &:focus {
          color: $link_hover_color;
        }
      }
    }
  }
}

.article-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  >span {
    font-size: 0.813rem;

    + span::before {
      display: inline-block;
      padding-right: .5rem;
      padding-left: .5rem;
      content: "/";
    }

    a {
      color: $link_color;
      &:hover {
        color: $link_hover_color;
      }
    }
  }
}

.article-details {
  .article-header {
    position: relative;
    h1,
    h2 {
      font-size: 2.25rem;
    }
  }

  .link-edit-article {
    position: absolute;
    right: 0;
    top: 10px;
  }

  .article-info {
    margin-bottom: 1rem;
  }

  .article-full-image {
    text-align: center;
    img {
      display: inline-block;
      border-radius: 4px;
    }
    margin-bottom: 2rem;
  }

  .article-featured-video,
  .article-featured-audio,
  .article-feature-gallery {
    margin-bottom: 2rem;
  }

  .article-ratings-social-share {
    padding: 1rem 0;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 1rem;
  }

  .article-author-information {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid #f5f5f5;
  }
}

.tags {
  list-style: none;
  padding: 0;
  margin: 2rem 0 0 0;
  display: block;
  >li {
    display: inline-block;
    a {
      display: block;
      font-size: 0.875rem;
      padding: 0.5rem 1rem;
      border-radius: 6.25rem;
      &:hover {
        color: #fff;
      }
    }
  }
}

.pager {
  list-style: none;
  padding: 2rem 0 0 0;
  margin: 2rem 0 0 0;
  border-top: 1px solid #f5f5f5;

  &::after {
    display: block;
    clear: both;
    content: "";
  }

  >li {
    display: inline-block;
    &.previous {
      float: left;
    }
    &.next {
      float: right;
    }
    a {
      display: inline-block;
      font-size: 0.785rem;
      padding: 1rem 2.5rem;
      border-radius: 100px;
    }
  }
}

#article-comments {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid #f5f5f5;
}

//Article Voting
.article-ratings {
  display: flex;
  align-items: center;
  .rating-symbol {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 1rem;
    display: inline-block;
    margin-left: 5px;
    span.rating-star {
      font-family: "FontAwesome";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      &.active:before {
        content: "\f005";
        color: #F6BC00;
      }
      &:before {
        content: "\f006";
        padding-right: 5px;
      }
    }

    span.rating-star:hover:before,
    span.rating-star:hover ~ span.rating-star:before {
      content: "\f005";
      color: #E7B000;
      cursor: pointer;
    }
  }

  .ratings-count {
    font-size: 0.785rem;
    color: #999;
  }

  .fa-spinner {
    margin-right: 5px;
  }
}

// Misc
.pagination-wrapper {
  align-items: center;
  .pagination {
    margin-bottom: 0;
    li {
      margin-right: 4px;
      a {
        border-radius:0px!important;
        background:#f9f9f9;
        color: #666c77;
        border:none!important;
        &:hover {
          background:$global_color;
          color: #fff;
        }
      }
      &.active {
        a {
          color: #fff;
          background:#42474c;
          cursor:default;
        }
      }
    }
  }
}

//Social Share
.article-social-share {
  float: right;
  .social-share-icon {
    ul {
      padding: 0;
      list-style: none;
      margin: 0;
      li {
        &:not(:last-child) {
          margin-right: 10px;
        }
        display: inline-block;
        a {
          border: 1px solid #EDEDED;
          font-size: 1rem;
          border-radius: 50%;
          height: 34px;
          line-height: 34px;
          text-align: center;
          width: 34px;
          display: inline-block;
          &:hover,
          &:focus {
            color: #fff;
          }
        }
      }
    }
  }
}

.newsfeed-category {
  .category {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 5px 0;
    }
  }
  #filter-search {
    margin: 10px 0;
  }
}

.category-module, .categories-module, .archive-module, .latestnews, .newsflash-horiz, .mostread, .form-links, .list-striped {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 2px 0;
    h4 {
      margin: 5px 0;
    }
  }
}
//Social and rating
.article-footer-top{
  display: table;
  clear: both;
  width: 100%;
  .post_rating{
    float: left;
  }
}

// contentpane
.contentpane {
  &:not(.com-sppagebuilder) {
    padding: 20px;
  }
}

// Bottom

#sp-bottom {
  padding: 60px 0 30px;
  font-size: 14px;
  line-height: 1.6;
  .sp-module {
    margin-bottom: 30px;
    .sp-module-title {
      font-weight: 700;
      font-size: 18px;
      margin: 0 0 30px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      > li {
        display: block;
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
        >a {
          display: block;
        }
      }
    }
  }
}
#sp-footer + #sp-copyright-all {
   &:before {
    display: none;
  }
}
#sp-copyright-all {
  background:$footer_bg_color;
  position: relative;
  //border-top: 1px solid #cbd0d4;
   &:before {
    content: " ";
    display: block;
    height: 3px;
    width: 100%;
    @include gradient-x-three-colors(darken($global_color2, 30%) , $global_color, 40%, $global_color2);
    position: absolute;
    left:0;
    top: 0;
  }
  #sp-copyright {
    padding:20px 0;
    color: $footer_text_color;
    a {
      color: $footer_link_color;
      &:hover {
        color: $footer_link_hover_color;
      }
    }
  }
}
// Footer
#sp-footer {
  font-size: 14px;
  padding: 0;
  //background:#fff!important;
  .container-inner {
    padding: 0px 0;
    //border-top: 1px solid rgba(255, 255, 255, .1);
  }
  .sppb-addon-articles {
    .title-blog-list {
      padding-bottom:10px;
      a {
        font-weight: 400;
      }
    }
    .sppb-article-meta {
      margin: 0px;
    }
  }
  .sppb-link-list-wrap ,.sppb-addon-module {
    ul,.menu {
      margin: 0;
      padding:0;
      list-style: none;
      li {
        padding:8px 0;
        line-height: 20px;
        border-top:none;
        a {
          font-size: 14px;
          line-height: 20px;
          text-transform: capitalize;
          color: $footer_link_color;
          &:hover {
            color: $footer_link_hover_color;
          }
        }
        &.menu-parent {
          display: none;
        }
        &.active {
          a { 
            color: $footer_link_hover_color;
          }
        }
      }
    }
  }
  .sppb-addon-header .sppb-addon-title .sppb-addon-title-icon {
    font-size: 12px!important;
    text-align: center;
  }
   .sppb-addon-header .sppb-addon-title {
   }
   .sppb-optin-form  .sppb-form-control {
    height: 40px!important;
    padding: 10px 20px 8px 20px;
   }
}

// Coming soon
html.coming-soon {
  width: 100%;
  height: 100%;
  min-height: 100%;
  body {
      width: 100%;
      height: 100%;
      min-height: 100%;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-align: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      padding-top: 40px;
      padding-bottom: 40px;
      text-align: center;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size:cover;
  }
  h1 {
    color: #fff;
    font-weight: bold;
    margin-bottom:20px;
  }
  .coming-soon-content {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
  }
  .coming-soon-logo {
    display: inline-block;
    margin-bottom: 2rem;
  }

  #coming-soon-countdown{
    margin-top: 4rem;

    .coming-soon-days,
    .coming-soon-hours,
    .coming-soon-minutes,
    .coming-soon-seconds{
      margin: 0;
      float: left;
      width: 25%;
      color: #fff;
      font-weight: bold;
      .coming-soon-number{
        width: 100%;
        font-size: 4.5rem;
        letter-spacing: -1px;
        line-height: 1;
      }

      .coming-soon-string{
        font-size: 1.5rem;
        letter-spacing: -1px;
        display: block;
        text-transform: uppercase;
        font-weight: normal;
      }
    }
  }

  .coming-soon-position{
    margin-top: 2rem;
  }

  .social-icons {
    margin-top: 4rem;
    li {
      a {
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

// error
html.error-page {
  width: 100%;
  height: 100%;
  
  body {
      width: 100%;
      height: 100%;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-align: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      padding-top: 40px;
      padding-bottom: 40px;
      text-align: center;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size:cover;
  }
  h1 {
    color: #fff;
    font-weight: bold;
    margin-bottom:30px;
  }
  h2 {
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 30px;
  }
  .error-logo {
    display: inline-block;
    margin-bottom: 2rem;
  }

  .error-code {
    margin: 0 0 1rem;
    font-size: 6rem;
    line-height: 7rem;
    line-break: 1;
  }

  .error-message {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
  .container {}
}

.sp-social-share {
  ul {
    display: block;
    padding: 0;
    margin: 20px -5px 0;
    li {
      display: inline-block;
      font-size: 24px;
      margin: 0 5px;
    }
  }
}

// profile
.profile {
  >div:not(:last-child) {
    margin-bottom: 30px;
  }
}

.dl-horizontal {
  dt {
    margin: 8px 0;
    text-align: left;
  }
}

// page-header
.page-header {
  padding-bottom: 15px;
}

// featured contact
table.category {
  width: 100%;
  thead, tbody {
    >tr {
      border: 1px solid #f2f2f2;
      th, td {
        padding: 10px;
      }
    }
  }
}

//contact from
.contact-form {
  .form-actions {
    background: none;
    border: none;
  }
}

@media print {
  .visible-print {
    display: inherit !important;
  }
  .hidden-print {
    display: none !important;
  }
}

// Preloader
.sp-pre-loader {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  background: rgba(#fff,0.9);
  >div {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    position: absolute;
    background: $global_color3;
    animation: spSpin 0.75s linear infinite;
    &:after {
      content: '';
      position: absolute;
      width: 49px;
      height: 49px;
      top: 3px;
      right: 0;
      left: 0;
      margin: auto;
      border-radius: 50%;
      background: $global_color;
    }
  }
}

.sp-scroll-up {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 30px;
  width: 36px;
  height: 36px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  color: #9da6ab;
  background: none;
  border-radius: 100%;
  z-index: 10000;
  border: 1px solid #9da6ab;
  &:hover,
  &:active,
  &:focus {
    color: $global_color;
    border: 1px solid $global_color;
  }
}


// Forms
.control-group {
  margin-bottom: 1rem;
}

select.form-control:not([multiple]),
select.inputbox:not([multiple]),
select:not([multiple]) {
  height: calc(2.25rem + 2px);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
select {
  &:not(.form-control) {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out 0.15s;

    &:focus {
      color: #495057;
      background-color: #fff;
      border-color: #80bdff;
      outline: 0;
    }
  }
}


.chzn-select,
.chzn-select-deselect {
  width: 100%;
}

.chzn-container {
  &.chzn-container-single {
    .chzn-single {
      display: block;
      width: 100%;
      padding: .5rem 0.75rem;
      font-size: 1rem;
      line-height: 1.25;
      height: calc(2.25rem + 2px);
      color: #495057;
      background-color: #fff;
      background-image: none;
      background-clip: padding-box;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 0.25rem;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out 0.15s;
      box-shadow: none;

      div {
        width: 30px;
        background: none;
        >b {
          background: none;
          position: relative;
          &:after {
            content: "\f0dc";
            font-family: FontAwesome;
            font-size: 0.875rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
          }
        }
      }
    }

    &.chzn-container-active {
      &.chzn-with-drop {
        .chzn-single {
          border-radius: .25rem .25rem 0 0;
        }
      }
    }

    .chzn-search {
      padding: 0.625rem;
      input[type="text"] {
        display: block;
        width: 100%;
        padding: .5rem 1.429rem .5rem 0.75rem;
        font-size: 0.875rem;
        line-height: 1.25;
        height: calc(2rem + 2px);
        color: #495057;
        background-color: #fff;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 0.25rem;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out 0.15s;
        box-shadow: none;
        -webkit-box-shadow: none;

        &:focus {
          border-color: #80bdff;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
          -webkit-box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        }
      }

      &:after {
        content: "\f002";
        font-family: FontAwesome;
        font-size: 0.875rem;
        color: rgba(0, 0, 0, .2);
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
      }
    }

    .chzn-drop {
      border-color: rgba(0,0,0,.15);
      border-radius: 0 0 .25rem 0.25rem;
      box-shadow: none;
      -webkit-box-shadow: none;
    }

    .chzn-results {
      li {
        &.highlighted {
          background-image: none !important;
        }
      }
    }
  }

  &.chzn-container-multi {

    .chzn-choices {
      display: block;
      width: 100%;
      padding: 0 0.75rem;
      min-height: calc(2.25rem + 2px);
      line-height: 1.25;
      background-color: #fff;
      background-image: none;
      background-clip: padding-box;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 0.25rem;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out 0.15s;
      box-shadow: none;
      -webkit-box-shadow: none;

      li {

        &.search-field {
          input[type="text"] {
            font-size: 0.875rem;
            font-weight: normal;
            line-height: 1.25;
            height: calc(2rem + 2px);
            background-color: #fff;
          }
        }

        &.search-choice {
          margin: 5.5px 5px 0 0;
          padding: 5px 20px 5px 5px;
          background-image: none;
          background-color: #f5f5f5;
          border-color: rgba(0,0,0,.1);
          box-shadow: none;
          -webkit-box-shadow: none;

          .search-choice-close {
            background: none;
            top: 5px;
            color: rgba(0, 0, 0, .2);
            &:hover {
              color: rgba(0, 0, 0, .5);
            }
            &:after {
              content: "\f00d";
              font-family: FontAwesome;
              font-size: 0.875rem;
              position: absolute;
              top: 0;
              right: 0;
            }
          }
        }
      }
    }

    &.chzn-with-drop {
      &.chzn-container-active {
        .chzn-choices {
          border-radius: 0.25rem;
        }
      }
      .chzn-drop {
        margin-top: -4px;
        border: none;
        border-radius: 0;
        box-shadow: none;
        -webkit-box-shadow: none;

        .chzn-results {
          &:not(:empty) {
            padding: 0.75rem;
            background: #fff;
            border: 1px solid rgba(0,0,0,.15);
            border-top: 0;
            border-radius: 0 0 0.25rem 0.25rem;
          }

          li {
            &.no-results {
              background: none;
            }
          }
        }
      }
    }
  }
}

// Form control
.form-horizontal {
  .control-label {
    float: left;
    width: auto;
    padding-top: 5px;
    padding-right: 5px;
    text-align: left;
  }

  .controls {
    margin-left: 220px;
  }
}

.card-block {
  padding: 20px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    li {
      display: block;
    }
  }
}

#sp-component {
  .blog {
    .article-list {
      .article {
        overflow: hidden;
        padding:0px;
        border:none;
        .article-intro-image {
          margin: 0 0 30px 0;
          padding:0px;
          overflow: hidden;
          border-radius:4px;
        }
        .article-body {
         .article-header {
          h2 {
            a {
              font-size: 24px;
              line-height: 26px;
              display: inline-block
            }
          }
         }
        }
        .article-info {
          color: #898d92;
          font-size: 12px;
          line-height: 20px;
          font-weight: bold;
        }
        .article-introtext {
          font-size: 18px;
          line-height: 30px;
          font-weight: 400;
        }
        .readmore {
          text-transform: uppercase;
        }
      }
    }
    .col-md-12 ,.articles-leading {
      .article-intro-image {
        margin: 0px;
        padding:0px;
        width: 40%;
      }
      .article-body {
        //float: left;
        overflow: hidden;
        padding-left:30px;
         box-sizing: border-box;
      }
    }
  }
  .article-details {
    .video_frame {
      width: 100%;
      height: 100%;
      max-height: 400px;
      iframe {
        width: 100%;
        height: 400px;
        border:none;
      }
    }
  }
  .tags {
    margin: 30px 0;
    padding: 0px;
    list-style: none;
    li {
      a {
        border: 2px solid #f7f8f8;
        padding: 4px 8px;
        font-size: 14px;
        line-height: 20px;
        text-transform: lowercase;
        color: #898d92;
        border-radius:0px;
        transition: all 400ms;
        &:hover {
          color: #fff;
          background: $text_colors;
          border-color: $text_colors;
        }
      }
    }
  }
  .tags + hr { 
    display: none;
  }
  .pager.pagenav {
    border-top:none;
    padding-top:0px;
    margin-top: 0px;
    li {
      a {
        padding:0px;
        font-size: 16px;
      }
    }
  }
  .article-info {
    margin-bottom: 30px;
  }
  .article-ratings-social-share {
    margin-top: 0px;
    .article-ratings .rating-symbol {
      font-size: 17px;
    }
    .social-share-icon {
      ul {
        li {
          a {
            padding:0px;
            color: #898d92;
            font-size: 22px;
            line-height: 24px;
            border:none;
            &:hover {
              color: $global_color;
            }
          }
        }
      }
    }
  }
}
#login-form {
  .logout-button {
    padding-top: 30px;
  }
}
#login-form {
  .userdata {
    display: block;
    width: 100%;
    .input-prepend {
      display: block;
    }
    #form-login-remember {
      padding-bottom:20px;
      color: #42474c;
      .control-label {
        color: #42474c;
      }
    }
    .unstyled {
      li {
        line-height: 20px;
        &:before {
            content: "\ec34";
            font-family: "Linearicons";
            display: inline-block;
            color: #42474c;
            font-size: 12px;
            padding-right:10px;
          }
        a {
          font-size: 14px;
          line-height: 20px;
          display: inline-block;
          &:hover {
            color: #42474c;
          }
        }
      }
    }
  }
}
#member-profile {
  #helpsite-refresh {
    margin-top: 20px;
  }
}
.sp-module.jmoddiv.jmodinside {
  padding-top:10px;
}
.layout-edit , .layout-default {
  .btn-toolbar {
    .btn {
      margin-right: 6px;
      margin-bottom: 6px;
    }
  }
  .input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control {
    width: 1%;
  }
  #editor {
    .btn {
      margin-bottom: 6px;
      margin-right: 6px;
    }
  }
  #publishing {
    #jform_catid-lbl {
      position:relative;
      top: -10px;
    }
    div.chzn-container-single .chzn-single div {
      //height: 36px;
    }
  }
  .field-calendar {
    .calendar-container {
      max-width: 262px;
      .calendar-head-row {
        .nav {
          position:relative;
          top: -1px;
        }
      }
      .btn {
        padding-left:20px;
        padding-right:20px;
      }
    }
  }
} 
.sp-comingsoon {
  .text-center { 
    text-align: center;
  }
  .body-innerwrapper {
    background: #fff;
     .comingsoon-page-logo {
        padding-top: 30px;
        padding-bottom: 30px;
        &:before {
            content: " ";
            display: block;
            height: 3px;
            width: 100%;
            @include gradient-x-three-colors(darken($global_color2, 30%) , $global_color, 40%, $global_color2);
            position: absolute;
            left:0;
            top: 0;
        }

      }
    .text-center {
      text-align: center;

      img {
        display: inline-block;
      }
    }
    .sppb-addon-countdown {
      .sppb-countdown-text {
        text-transform: uppercase;
      }
    }
  }
  #copyright {
    padding: 30px 20px;
  }
}
div.k2CategoriesListBlock {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      font-size: 16px;
      line-height: 36px;
      margin-bottom: 0px;
      &:before {
        font-family: "Linearicons";
        display: inline-block;
        line-height: 18px;
        font-size: 10px;
        padding: 0px;
        content: "\ec3c";
        border:1px solid #bec4c8;
        border-radius:50px;
        color: #bec4c8;
        height: 20px;
        width: 20px;
        text-align: center;
        position: relative;
        top: 0px;
        margin-right: 10px;
        padding-left: 1px;
        box-sizing:border-box;
      }
      a{
        color: $text_colors;
        &:hover {
          color: $global_color;
        }
      }
      &.active {
        a {
          color: $global_color;
        }
      }
      ul {
        li {
          a:before { 
            content: "-";
            padding: 0 10px;
          }
        }
      }
    }
  }
}
div.k2TagCloudBlock {
  margin: -5px;
  padding: 0px;
  a {
    border:1px solid #bec4c8;
    border-radius:4px;
    color: $text_colors;
    padding: 5px 10px 7px;
    font-size: 14px;
    line-height: 20px;
    margin: 5px;
    &:hover {
      background: $global_color;
      border-color: $global_color;
      color: #fff;
      padding: 5px 10px 7px;
    }
  }
}
#slogin-buttons {
  padding-bottom: 30px;
  overflow: hidden;
}
.ul-jlslogin {
  padding-top: 20px;
}
.jlslogin .slogin-compact span {
    /*  background: url(../../media/socials_sprite.png) no-repeat;*/
    height: 36px;
    width: 36px;
    display: block;
    border-radius: 100%;
    line-height: 36px;
}

.jlslogin .slogin-compact a,
.jlslogin .slogin-compact a:hover {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
    float: left;
}

.jlslogin .slogin-compact a {
    display: block;
    /*    width: 49px;*/
    margin: 5px 5px 0 0;
}

.jlslogin .slogin-compact a:hover {
    background: #f4f3f2;
}

/* END Def style*/

.slogin-buttons .googleslogin {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='-60 -60 710.117 710.117' %3E%3Cpath fill='%23fff' fill-rule='evenodd' clip-rule='evenodd' d='M516.375,255v-76.5h-51V255h-76.5v51h76.5v76.5h51V306h76.5v-51H516.375z M320.025,341.7l-28.051-20.4%0Ac-10.2-7.649-20.399-17.85-20.399-35.7s12.75-33.15,25.5-40.8c33.15-25.5,66.3-53.55,66.3-109.65c0-53.55-33.15-84.15-51-99.45%0Ah43.35l30.6-35.7h-158.1c-112.2,0-168.3,71.4-168.3,147.9c0,58.65,45.9,122.4,127.5,122.4h20.4c-2.55,7.65-10.2,20.4-10.2,33.15%0Ac0,25.5,10.2,35.7,22.95,51c-35.7,2.55-102,10.2-150.45,40.8c-45.9,28.05-58.65,66.3-58.65,94.35%0Ac0,58.65,53.55,114.75,168.3,114.75c137.7,0,204.001-76.5,204.001-150.449C383.775,400.35,355.725,372.3,320.025,341.7z%0AM126.225,109.65c0-56.1,33.15-81.6,68.85-81.6c66.3,0,102,89.25,102,140.25c0,66.3-53.55,79.05-73.95,79.05%0AC159.375,247.35,126.225,168.3,126.225,109.65z M218.024,568.65c-84.15,0-137.7-38.25-137.7-94.351c0-56.1,51-73.95,66.3-81.6%0Ac33.15-10.2,76.5-12.75,84.15-12.75s12.75,0,17.85,0c61.2,43.35,86.7,61.2,86.7,102C335.324,530.4,286.875,568.65,218.024,568.65z%0A'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    opacity: 0.8;
    background-color: #DC4E41;
}

.slogin-buttons .odnoklassnikislogin {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20baseProfile%3D%22basic%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M20%2020.5c3.4%200%206.2-2.8%206.2-6.3s-2.8-6.3-6.2-6.3c-3.4%200-6.2%202.8-6.2%206.3s2.8%206.3%206.2%206.3zm0-9.5c1.8%200%203.3%201.5%203.3%203.3s-1.5%203.3-3.3%203.3c-1.8%200-3.3-1.5-3.3-3.3s1.5-3.3%203.3-3.3zm6.7%2010.2c-.5-.7-1.5-.8-2.2-.3%200%200-1.7%201.3-4.5%201.3s-4.5-1.3-4.5-1.3c-.7-.5-1.7-.4-2.2.3-.5.7-.4%201.7.3%202.2.1.1%201.7%201.3%204.4%201.8l-4.1%204.2c-.6.6-.6%201.6%200%202.2.3.3.7.5%201.1.5.4%200%20.8-.2%201.1-.5l3.9-4%203.9%204c.3.3.7.5%201.1.5.4%200%20.8-.2%201.1-.5.6-.6.6-1.6%200-2.2l-4.1-4.3c2.7-.5%204.3-1.7%204.4-1.8.7-.5.8-1.5.3-2.1z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    opacity: 0.8;
    background-color: #f6851f;
}

.slogin-buttons .vkontakteslogin {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg version='1.1' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs12'/%3E%3Cg id='g5608'%3E%3Crect height='512' id='rect2987' style='fill:%234c75a3;fill-opacity:1;fill-rule:nonzero;stroke:none' width='512' x='0' y='0'/%3E%3Cpath d='m 251.70955,369.14455 h 23.90722 c 0,0 7.21927,-0.79762 10.91007,-4.76903 3.39705,-3.65021 3.28841,-10.50167 3.28841,-10.50167 0,0 -0.47175,-32.08055 14.42054,-36.80302 14.67964,-4.6544 33.52648,31.00352 53.50297,44.7136 15.10712,10.3751 26.58794,8.10401 26.58794,8.10401 l 53.41814,-0.74389 c 0,0 27.93719,-1.7254 14.69046,-23.69711 -1.08421,-1.79346 -7.72077,-16.24983 -39.71651,-45.94943 -33.50267,-31.09426 -29.01187,-26.06134 11.33755,-79.83777 24.56987,-32.75042 34.39689,-52.73881 31.32344,-61.30492 -2.92543,-8.15775 -20.99737,-6.00608 -20.99737,-6.00608 l -60.14789,0.37614 c 0,0 -4.45617,-0.60898 -7.76492,1.36837 -3.22986,1.93675 -5.30509,6.45384 -5.30509,6.45384 0,0 -9.52735,25.34252 -22.21891,46.89512 -26.77781,45.47421 -37.48837,47.88141 -41.86576,45.05151 -10.18409,-6.5816 -7.63722,-26.43388 -7.63722,-40.54397 0,-44.07239 6.68431,-62.45001 -13.02109,-67.20472 -6.53861,-1.57852 -11.353,-2.62571 -28.07453,-2.79407 -21.45819,-0.21851 -39.62332,0.0681 -49.90525,5.10336 -6.84198,3.35887 -12.12325,10.8181 -8.90281,11.25035 3.9749,0.53016 12.97566,2.42511 17.74706,8.92193 6.16377,8.38702 5.94764,27.21599 5.94764,27.21599 0,0 3.54393,51.88028 -8.27001,58.32099 -8.10874,4.42157 -19.22901,-4.60187 -43.10881,-45.86108 -12.23061,-21.1311 -21.46783,-44.49746 -21.46783,-44.49746 0,0 -1.77673,-4.36067 -4.9565,-6.69981 -3.8544,-2.83349 -9.24187,-3.72903 -9.24187,-3.72903 l -57.154499,0.37016 c 0,0 -8.58037,0.24358 -11.72552,3.97499 -2.80725,3.32066 -0.22448,10.18167 -0.22448,10.18167 0,0 44.742259,104.68594 95.406949,157.43907 46.46763,48.38052 99.21848,45.20196 99.21848,45.20196 l 0,0 z' id='path9' style='fill:%23ffffff;fill-rule:evenodd'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    opacity: 0.8;
    background-color: #4e7299;
}

.slogin-buttons .facebookslogin {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20baseProfile%3D%22basic%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M24.2%2011.3h2.3v-4.3h-3.5c-4.3%200-6%202.9-6%206.1v2.6h-3.5v4.3h3.5v13h5v-13h4l.5-4.3h-4.5v-2.6c0-1.2.4-1.8%202.2-1.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    opacity: 0.8;
    background-color: #3a5795;
}

.slogin-buttons .mailslogin {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20baseProfile%3D%22basic%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M33%2020c0-7.2-5.8-13-13-13s-13%205.8-13%2013%205.8%2013%2013%2013c1.6%200%203.3-.3%204.8-.9.7-.3%201.1-1.1.8-1.8-.3-.7-1.1-1.1-1.8-.8-1.2.5-2.4.7-3.7.7-5.6%200-10.2-4.6-10.2-10.2%200-2.8%201.1-5.4%203-7.2%201.8-1.8%204.4-3%207.2-3s5.4%201.1%207.2%203c1.8%201.8%203%204.4%203%207.2%200%201.4-.3%203.5-.8%204.9-.7%201.8-2%201.3-2-.3v-9.2c0-1.2-1.5-1.9-2.4-1-1.4-1.3-3.2-2-5.2-2-4.2%200-7.6%203.4-7.6%207.6%200%204.2%203.4%207.6%207.6%207.6%201.8%200%203.5-.7%204.9-1.7.4%201.7%201.7%202.7%203.2%202.9%204.1.6%205-5.9%205-8.8zm-9.8%203.4c-.9.9-2.1%201.4-3.4%201.4-2.7%200-4.8-2.2-4.8-4.8%200-2.7%202.2-4.8%204.8-4.8%201.3%200%202.5.5%203.4%201.4%201.9%201.8%201.9%205%200%206.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    opacity: 0.8;
    background-color: #356ca4;
}

.slogin-buttons .twitterslogin {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20baseProfile%3D%22basic%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M31%2013.1c-.8.4-1.7.6-2.6.7.9-.6%201.7-1.5%202-2.5-.9.5-1.8.9-2.9%201.1-.8-.9-2-1.4-3.3-1.4-2.5%200-4.5%202-4.5%204.5%200%20.4%200%20.7.1%201-3.8-.2-7.1-2-9.3-4.8-.4.7-.6%201.5-.6%202.3%200%201.6.8%203%202%203.8-.7%200-1.4-.2-2.1-.6v.1c0%202.2%201.6%204%203.6%204.5-.4.1-.8.2-1.2.2-.3%200-.6%200-.8-.1.6%201.8%202.2%203.1%204.2%203.2-1.5%201.2-3.5%201.9-5.6%201.9-.4%200-.7%200-1.1-.1%202%201.3%204.4%202.1%206.9%202.1%208.3%200%2012.9-6.9%2012.9-12.9v-.6c.9-.7%201.7-1.5%202.3-2.4z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    opacity: 0.8;
    background-color: #00aeef;
}

.slogin-buttons .yandexslogin {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='-15 -4 55 55' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath style='fill:%23fff;stroke:none' d='M 21.0607,0 L 14.1613,0 C 7.38301,0 1.63391,5.1601 1.63391,15.1777 C 1.63391,21.1875 4.41811,25.6191 9.38002,27.8047 L 0.121216,44.5605 C -0.181488,45.1074 0.121216,45.5312 0.604614,45.5312 L 4.9015,45.5312 C 5.26482,45.5312 5.507,45.4101 5.62813,45.1074 L 14.0402,28.6543 L 17.0666,28.6543 L 17.0666,45.1074 C 17.0666,45.289 17.2482,45.5312 17.4894,45.5312 L 21.2423,45.5312 C 21.6056,45.5312 21.7267,45.3496 21.7267,45.0468 L 21.7267,0.607361 C 21.7267,0.18158 21.4845,0 21.0607,0 z M 17.0666,24.7695 L 14.5246,24.7695 C 10.5304,24.7695 6.65742,21.8553 6.65742,14.5703 C 6.65742,6.98035 10.2882,3.88464 13.9796,3.88464 L 17.0666,3.88464 L 17.0666,24.7695 z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    opacity: 0.7;
    background-color: #ff0303;
}

.slogin-buttons .linkedinslogin {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='-120 -120 700.117 700.117'%3E%0A  %3Cpath fill='%23fff' d='M430.117,261.543V420.56h-92.188V272.193c0-37.271-13.334-62.707-46.703-62.707%0A    c-25.473,0-40.632,17.142-47.301,33.724c-2.432,5.928-3.058,14.179-3.058,22.477V420.56h-92.219c0,0,1.242-251.285,0-277.32h92.21%0A    v39.309c-0.187,0.294-0.43,0.611-0.606,0.896h0.606v-0.896c12.251-18.869,34.13-45.824,83.102-45.824%0A    C384.633,136.724,430.117,176.361,430.117,261.543z M52.183,9.558C20.635,9.558,0,30.251,0,57.463%0A   c0,26.619,20.038,47.94,50.959,47.94h0.616c32.159,0,52.159-21.317,52.159-47.94C103.128,30.251,83.734,9.558,52.183,9.558z%0A     M5.477,420.56h92.184v-277.32H5.477V420.56z'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    opacity: 0.8;
    background-color: #0077B5;
}

.slogin-buttons .liveslogin {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='-4 -4 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23ffffff' d='M7.09 8.14v6.616L16 16V8.14H7.09zm-.268 0H0v5.63l6.822.95V8.14zm0-.266V1.28L0 2.238v5.637h6.822zm.267 0H16V0L7.09 1.244v6.63z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    opacity: 0.8;
    background-color: #0072C6;
}

.slogin-buttons .uloginslogin {
    background-image: url("data:image/svg+xml,%3Csvg version='1.2' baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' viewBox='-2 -2 24 24' fill='%23000'%3E%3Cpath fill='%23fff' d='M10 0c-3.2 0-5.8 2.6-5.8 5.8 0 2.1 1.1 3.9 2.8 5v9.1s.1.1.2.1h1.6c.1 0 .2-.1.2-.2v-3.5c0-.1.1-.2.2-.2h1.8c.1 0 .2.1.2.2v3.5c0 .1.1.2.2.2h1.6c.1 0 .2-.1.2-.2v-9.1c1.7-1 2.8-2.9 2.8-5-.2-3.1-2.8-5.7-6-5.7zm-1.9 6.5v-1.4c0-.1.1-.2.2-.2h.7s.1.1.1.2v1.4c0 .1-.1.2-.2.2h-.7c-.1 0-.1-.1-.1-.2zm3.7 1.8c-.4.5-1.1.9-1.8.9s-1.4-.3-1.8-.9c-.1-.2 0-.4.2-.3.5.2 1 .3 1.6.3.6 0 1.1-.1 1.6-.3.2-.1.3.1.2.3zm.1-1.8c0 .1-.1.2-.2.2h-.7c-.1 0-.2-.1-.2-.2v-1.4c0-.1.1-.2.2-.2h.7c.1 0 .2.1.2.2v1.4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    opacity: 0.8;
    width: 49px !important;
    height: 49px !important;
    background-color: #00a105;
}

.slogin-buttons .yahooslogin {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='-2 -2 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M9.005 16s-.56-.102-1.012-.102c-.406 0-1.015.102-1.015.102l.127-6.797C6.162 7.573 3.39 2.607 1.66 0c.87.198 1.236.186 2.11 0l.013.023c1.102 1.95 2.786 4.67 4.21 7.027C9.4 4.734 11.612 1.118 12.212 0c.68.178 1.367.172 2.127 0-.797 1.078-3.702 6.115-5.462 9.203L9.005 16z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    opacity: 0.8;
    background-color: #440099;
}

.slogin-buttons .wordpressslogin {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='-2 -2 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.312 4.55c.56 1.024.88 2.2.88 3.45 0 2.653-1.438 4.97-3.576 6.217l2.197-6.352c.41-1.026.547-1.847.547-2.576 0-.266-.018-.512-.048-.74m-5.32.077c.432-.022.822-.068.822-.068.388-.047.342-.616-.045-.594 0 0-1.167.092-1.92.092-.705 0-1.893-.092-1.893-.092-.388-.022-.433.57-.046.593 0 0 .368.045.756.067l1.12 3.07-1.574 4.72-2.62-7.79c.434-.022.824-.068.824-.068.387-.047.342-.616-.046-.594 0 0-1.165.092-1.917.092-.135 0-.294-.004-.463-.01C3.276 2.1 5.487.81 8 .81c1.872 0 3.577.715 4.857 1.888-.03-.002-.06-.006-.093-.006-.707 0-1.208.615-1.208 1.276 0 .593.342 1.095.706 1.687.274.48.594 1.095.594 1.984 0 .615-.237 1.33-.548 2.325l-.717 2.397-2.6-7.733zM8 15.193c-.706 0-1.387-.104-2.032-.293l2.158-6.27 2.21 6.056c.016.035.033.068.052.1-.747.262-1.55.407-2.388.407M.807 8c0-1.043.224-2.033.623-2.927l3.43 9.4C2.463 13.307.808 10.847.808 8M8 0C3.59 0 0 3.59 0 8s3.59 8 8 8 8-3.59 8-8-3.59-8-8-8' fill='%23ffffff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    opacity: 0.8;
    background-color: #474442;
}

.slogin-buttons .instagramslogin {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='-2 -2 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23ffffff' d='M14.154 16H1.846C.826 16 0 15.173 0 14.153V1.846C0 .826.826 0 1.846 0h12.308C15.174 0 16 .826 16 1.846v12.307c0 1.02-.826 1.847-1.846 1.847M8 4.923C6.3 4.923 4.923 6.3 4.923 8S6.3 11.077 8 11.077 11.077 9.7 11.077 8C11.077 6.3 9.7 4.923 8 4.923m6.154-2.462c0-.34-.275-.614-.616-.614h-1.846c-.34 0-.615.275-.615.615V4.31c0 .34.276.615.615.615h1.846c.34 0 .616-.276.616-.615V2.46zm0 4.31H12.76c.103.392.163.804.163 1.23 0 2.72-2.204 4.923-4.923 4.923-2.72 0-4.923-2.204-4.923-4.923 0-.426.06-.838.162-1.23H1.845v6.768c0 .34.275.615.616.615h11.076c.34 0 .616-.275.616-.615v-6.77z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    opacity: 0.8;
    background-color: #125688;
}

.slogin-avatar {
    text-align: center;
}

.slogin-avatar img {
    border: 1px solid #c0c0c0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 0px;
    margin: 0px 0px 10px;
}

.slogin-buttons .twitterslogin:hover,
.mailslogin:hover,
.facebookslogin:hover,
.vkontakteslogin:hover,
.googleslogin:hover,
.yandexslogin:hover,
.linkedinslogin:hover,
.liveslogin:hover,
.uloginslogin:hover,
.yahooslogin:hover,
.wordpressslogin:hover,
.instagramslogin:hover,
.odnoklassnikislogin:hover {
    opacity: 1;
}

.jlslogin input.button {
    cursor: pointer;
}

.jlslogin input.button:hover {
    background: #53b5de;
}

.jlslogin fieldset {
    padding: 0;
    border: 0;
}
/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
  width: 100%; 
  min-height: 50px;
  margin: 0; 
  padding: 0;
  overflow: hidden; 
  text-align: center;
}
/* that serves as a mask. so you get a sort of padding both left and right */
.tickercontainer .mask { 
  position: relative;
  width: 100%;
  overflow: hidden;
}
ul.newsticker { /* that's your list */
position: relative;
list-style-type: none;
margin: 0;
padding: 0;
width: 1000%!important;
}
/* important: display inline gives incorrect results when you check for elem's width */
ul.newsticker li {
  float: left; 
  margin: 0;
  padding: 0 5px;
  font-size: 14px;
}

/* K2 CSS */

#k2Container {
  &.itemListView {
    .itemListCategory {
      background: none;
      border: none;
      padding: 0px;
      img {
        margin-bottom: 30px;
      }
    }
    .itemList {
      margin: 0 -15px;
      .itemContainer {
        padding: 0 15px;
        .catItemBody {
          padding: 0px;
        }
        &.item-style-2 {
          .catItemView {
            position: relative;
          }
          .catItemHeader { 
            .fleft {
              position: absolute;
              left: 10px;
              top: 10px;
              padding-right: 0px;
              width: auto;
            }
            .catItemTitle {
              font-size: 26px;
            }
          }
        }
        &.item-style-3 {
          .catItemView {
            position: relative;
          }
          .catItemHeader { 
            .fleft {
              position: absolute;
              left: 10px;
              top: 10px;
              padding-right: 0px;
              width: auto;
            }
            .catItemTitle {
              font-size: 20px;
            }
          }
          @media (min-width: 768px) and (max-width: 991px) {
            width: 50%!important;
          }
        }
        &.item-style-3.itemContainerLast  { 
          @media (min-width: 768px) and (max-width: 991px) {
            width: 100%!important;
          }
        }
      }
      .catItemView {
        padding: 0px;
        margin-bottom: 30px;
        position: relative;
        &.catItemIsFeatured {
          &:before {
            display: none;
          }
        }
        .catItemImageBlock {
          padding: 0;
          margin: 0 0 30px 0;
          overflow: hidden;
          border-radius:4px;
          position: relative;
          .catItemImage {
            margin: 0px;
            img {
              min-height: 170px;
            }
          }
          .featured {
            position: absolute;
            right:10px;
            top: 10px;
            background: #fff;
            border-radius:4px;
            padding: 4px 20px;
            font-size: 14px;
            line-height: 20px;
            text-transform: uppercase;
            display: inline-block;
          }
        }
        .catItemHeader {
          overflow: hidden;
          width: 100%;
          .catItemDateCreated {
            background: $global_color2;
            font-size: 36px;
            line-height: 40px;
            padding: 4px 0 0 0;
            height: 70px;
            width: 70px;
            border-radius:4px;
            color: #fff;
            text-align: center;
            margin-bottom: 4px;
            span {
              display: block;
              font-size: 14px;
              line-height: 16px;
              text-transform: uppercase;
            }
          }
          .catItemHitsBlock .catItemHits{
            background: #ecf0f1;
            font-size: 36px;
            line-height: 36px;
            padding: 6px 0 0 0;
            min-height: 70px;
            min-width: 70px;
            border-radius:4px;
            color: #d1d5d8;
            text-align: center;
            display: inline-block;
            span {
              display: block;
              font-size: 18px;
              line-height: 20px;
              text-transform: uppercase;
              color: $global_color2;
              margin-top: -2px;
            }
          }
        }
        .fleft {
          float: left;
          padding-right:30px;
          width: 100px;
        }
        .fright{
          //float: left;
          overflow: hidden;
          .catItemTitle {
            margin-top: -15px;
            @media (min-width: 768px) and (max-width: 991px) {
               font-size: 22px;
            }
            @media (min-width: 320px) and (max-width: 767px) {
              font-size: 18px;
            }
            a {
              color: #34383d;
              &:hover {
                 color: $global_color;
              }
            }
          }
          .catItemReadMore {
            padding-left: 2px;
           .k2ReadMore {
              font-size: 16px;
              line-height: 20px;
              color: $global_color3;
              text-transform: capitalize;
              text-decoration: none;
              i {
                position: relative;
                top: 0px;
                font-size: 12px;
                padding-right: 4px;
              }
              &:hover {
                color: $global_color;
              }
             }
          }
          .catItemIntroText {
            padding-top: 10px;
            padding-bottom: 10px;
          }
          .catItemLinks {
            padding: 0;
            margin-bottom: 10px;
            .catItemTagsBlock , .catItemAttachmentsBlock {
              font-size: 14px;
              line-height: 20px;
              color: #899096;
              padding: 0 0 10px 0;
              position: relative;
              border: none;
              span {
                font-weight: normal;
                padding: 0px;
                color: #899096;
              }
              .catItemTags , .catItemAttachments {
                li {
                  font-size: 14px;
                  line-height: 20px;
                }
              }
            }
          }
          .list-box {
            overflow: hidden;
            margin: 0 -8px;
            .catItemAuthor {
              float: left;
              font-size: 14px;
              line-height: 20px;
              color: #899096;
              padding: 4px 8px;
              position: relative;
              span {
                font-weight: normal;
              }
              &:after{
                content:".";
                font-size: 30px;
                line-height: 30px;
                position: absolute;
                right: -2px;
                top: -8px;
              }
            }
            .catItemCategory {
              float: left;
              font-size: 14px;
              line-height: 20px;
              color: #899096;
              padding: 4px 8px;
              position: relative;
              span {
                font-weight: normal;
              }
              &:after{
                content:".";
                font-size: 30px;
                line-height: 30px;
                position: absolute;
                right: -2px;
                top: -8px;
              }
            }
            .catItemCommentsLinks {
              float: left;
              font-size: 14px;
              line-height: 20px;
              color: #899096;
              padding: 4px 8px;
              position: relative;
              span {
                font-weight: normal;
              }
              &:after{
                content:".";
                font-size: 30px;
                line-height: 30px;
                position: absolute;
                right: -2px;
                top: -8px;
              }
            }
            .catItemRatingBlock {
              float: left;
              font-size: 14px;
              line-height: 20px;
              color: #899096;
              padding: 4px 8px;
              position: relative;
              span {
                font-weight: normal;
              }
              .itemRatingList {
                top: -2px;
              }
            }
          }
        }
      }
    }
  }
  .k2Pagination {
    .pagination {
      display: inline-block;
      .page-item {
        float: left;
        line-height: 20px;
        font-size: 16px;
        a {
          color: black;
          padding: 8px 16px;
          text-decoration: none;
          display: inline-block;
          margin: 0;
          border: none;
          &:focus {
            box-shadow: none;
          }
        }
        &:hover:not(.active) a {
          background: #f5f5ff;
        }
        &.active {
          a {
            color: #fff;
            background: $global_color;
            cursor: default;
          }
        }
      }
    }
  }
}
/* K2 CSS articles*/
#k2Container {
  &.itemView {
    &.catItemIsFeatured {
      &:before {
        display: none;
      }
    }
    .itemBody {
      .itemImageBlock {
        padding: 0;
        margin: 0 0 30px 0;
        overflow: hidden;
        border-radius:4px;
        position: relative;
        .itemImage {
          margin: 0px;
        }
        .featured {
          position: absolute;
          right:10px;
          top: 10px;
          background: #fff;
          border-radius:4px;
          padding: 4px 20px;
          font-size: 14px;
          line-height: 20px;
          text-transform: uppercase;
          display: inline-block;
        }
      }
      .catItemHeader {
        overflow: hidden;
        width: 100%;
        .catItemDateCreated {
          background: $global_color2;
          font-size: 36px;
          line-height: 40px;
          padding: 4px 0 0 0;
          height: 70px;
          width: 70px;
          border-radius:4px;
          color: #fff;
          text-align: center;
          margin-bottom: 4px;
          span {
            display: block;
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
          }
        }
        .catItemHitsBlock .catItemHits{
          background: #ecf0f1;
          font-size: 36px;
          line-height: 36px;
          padding: 6px 0 0 0;
          min-height: 70px;
          min-width: 70px;
          border-radius:4px;
          color: #d1d5d8;
          text-align: center;
          display: inline-block;
          span {
            display: block;
            font-size: 18px;
            line-height: 20px;
            text-transform: uppercase;
            color: $global_color2;
            margin-top: -2px;
          }
        }
      }
      .fleft {
        float: left;
        padding-right:30px;
        width: 100px;
      }
      .fright{
        //float: left;
        overflow: hidden;
        .itemTitle {
          margin-top: 0px;
          margin-bottom: 20px;
          a {
            color: #34383d;
            &:hover {
               color: $global_color;
            }
          }
        }
        .catItemReadMore {
          padding-left: 2px;
         .k2ReadMore {
            font-size: 16px;
            line-height: 20px;
            color: $global_color3;
            text-transform: capitalize;
            text-decoration: none;
            i {
              position: relative;
              top: 0px;
              font-size: 12px;
              padding-right: 4px;
            }
            &:hover {
              color: $global_color;
            }
           }
        }
        .catItemIntroText {
          padding-top: 10px;
          padding-bottom: 10px;
        }
        .catItemLinks {
          padding: 0;
          margin-bottom: 10px;
          .catItemTagsBlock , .catItemAttachmentsBlock {
            font-size: 14px;
            line-height: 20px;
            color: #899096;
            padding: 0 0 10px 0;
            position: relative;
            border: none;
            span {
              font-weight: normal;
              padding: 0px;
              color: #899096;
            }
            .catItemTags , .catItemAttachments {
              li {
                font-size: 14px;
                line-height: 20px;
              }
            }
          }
        }
        .list-box {
          overflow: hidden;
          margin: 0 -8px;
          .catItemAuthor {
            float: left;
            font-size: 14px;
            line-height: 20px;
            color: #899096;
            padding: 4px 8px;
            position: relative;
            span {
              font-weight: normal;
            }
            &:after{
              content:".";
              font-size: 30px;
              line-height: 30px;
              position: absolute;
              right: -2px;
              top: -8px;
            }
          }
          .catItemCategory {
            float: left;
            font-size: 14px;
            line-height: 20px;
            color: #899096;
            padding: 4px 8px;
            position: relative;
            span {
              font-weight: normal;
            }
            &:after{
              content:".";
              font-size: 30px;
              line-height: 30px;
              position: absolute;
              right: -2px;
              top: -8px;
            }
          }
          .catItemCommentsLinks {
            float: left;
            font-size: 14px;
            line-height: 20px;
            color: #899096;
            padding: 4px 8px;
            position: relative;
            span {
              font-weight: normal;
            }
            &:after{
              content:".";
              font-size: 30px;
              line-height: 30px;
              position: absolute;
              right: -2px;
              top: -8px;
            }
          }
          .catItemRatingBlock {
            float: left;
            font-size: 14px;
            line-height: 20px;
            color: #899096;
            padding: 4px 8px;
            position: relative;
            span {
              font-weight: normal;
            }
            .itemRatingList {
              top: -2px;
            }
          }
        }
      }
    }
  }
  .itemRelated {
    ul {
      margin: -15px -15px;
      list-style: none;
      padding: 0;
      li {
        line-height: inherit;
        font-size: inherit;
        float: left;
        width: 33%;
        padding: 15px 15px;
        .addon-article {
          margin-bottom: 0px;
        }
      }
    }
  }
  .itemBackToTop {
    display: none;
  }
  .itemCommentsList {
    padding: 0px;
    margin: 0px;
    list-style: none;
    li {
      padding: 0px;
      margin: 0 0 30px 0;
      list-style: none;
      border: none;
      line-height: inherit;
      &.odd {
        margin-left: 30px;
      }
      .fleftbox {
        overflow: hidden;
        padding-bottom: 20px;
        img {
          float: left;
          margin:0 10px 0 0;
          padding: 10px;
          background: #f5f5f5;
          border-radius:100%;
        }
        .ind {
          overflow: hidden;
        }
        span {
          display: inline-block;
          width: 100%;
          &.commentAuthor {
            font-size: 22px;
            line-height: 24px;
            font-weight: bold;
          }
          &.commentdate {
            color: $text_colors;
          }
        }
      }
      .coment {
        margin: 0px;
        padding: 20px;
        background: #f5f5f5;
        border-radius:4px;
      }
    }
  }
  .itemCommentsPagination {
    margin: 0px;
  }
  div.itemComments {
    padding: 0px;
    background: none;
    border:none;
  }
}
body.com-k2 {
  .mfp-iframe-holder .mfp-content {
    max-width: 900px;
    height: auto;
  }
  .mfp-iframe-scaler iframe {
    padding: 0px;
  }
}
#comment-form {
  label {
    color: #777;
    padding-bottom: 6px;
  }
  .btn {
    margin-top: 30px;
  }
}
#josForm {
  table {
    th,td {
      background: none;
      border: none;
      padding-bottom: 10px;
      padding-top: 10px;
      &.key {
        padding-right: 10px;
        label {
          margin-bottom: 0px;
        }
      }
    }
  }
}
div.itemComments ul.itemCommentsList li.authorResponse {
  background: none!important;
}

/* cwcookie */
.cwcookielaw {
  position: fixed;left: 0;bottom: 0;
  width: 100%;
  height: auto;
  padding: 9px 10px;
  background: #333;
  z-index: 111;
  .button {
    margin-left: 5px;
  }
  @media (min-width: 320px) and (max-width: 479px) { 
    p {display: block!important;}
  }
}
div.cwcookielawbg {
  height: 0px;
}
.cookies_height {
  height: 0;
  overflow: hidden;
}
div.cwcookielaw .sppb-btn {
  margin: 3px;
}
div.cwcookielaw .cwcookiebubble {
  top: auto;
  bottom: 100%;
  right: auto;
  left: 50%;
  margin-bottom: 30px;
  background: rgba(#000,.85);
  padding-top: 10px;
  height: auto;
  max-width: 90%;
  width: 100%;
  padding-bottom: 20px;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  &:before {
    font-family: FontAwesome;
    content:"\f00d";
    margin-right: 0px;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    text-shadow:none;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 8px;

  }
  &:after {
    content: " ";
    display: none;
    position: absolute;
    bottom: -20px;
    right: 40px;
   // background: url(../images/corner.png) left top no-repeat;
    width: 31px;
    height: 20px;
  }
}
.form-group.list-horizontal {
  .radio {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}