
// --------------------------------------------------
// CORE TYPOGRAPHY (type.less)
// Headings
// --------------------------------------------------
@import "mixins/gradients";

.highlights {
  background: $global_color2;
  color: #fff;
  padding-left: 6px;
  padding-right: 6px;
  display: inline-block;
  padding-bottom: 1px;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  small,
  .small {
    font-weight: normal;
    line-height: 1;
    color: #777;
  }
  i {
    font-weight: 400;
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {

  small,
  .small {
    font-size: 65%;
  }
}
h4, .h4,
h5, .h5,
h6, .h6 {

  small,
  .small {
    font-size: 75%;
  }
}

h1,.h1 , h1.sppb-addon-title {
  line-height: 1.2em;
  margin: 0 0 40px 0;
  padding: 0 0 0 0;
  text-transform: capitalize;
  letter-spacing: 0px;
  @media(max-width: 991px){
  }
  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 30px;
    margin: 0 0 20px 0;
  }
}
h2, .h2 , h2.sppb-addon-title {
  line-height: 1.2em;
  margin: 0 0 40px 0;
  padding: 0 0 0 0;
  text-transform: capitalize;
  letter-spacing: 0px;
  @media(max-width: 991px){
  }
  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 28px;
    margin: 0 0 20px 0; 
  }
}
h3, .h3, h3.sppb-addon-title {
  line-height: 1.2em;
  margin: 0 0 30px 0;
  padding: 0 0 0 0;
  text-transform: capitalize;
  letter-spacing: 0px;
  @media(max-width: 1200px){
    font-size: 24px;
    margin: 0 0 20px 0;
  }
  
  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 18px;
    margin: 0 0 20px 0;
  }

}
h4, .h4 , h4.sppb-addon-title {
  line-height: 1.2em;
  margin: 0 0 12px 0;
  padding: 0 0 0 0;
  text-transform: capitalize;
  letter-spacing: 0px;
  @media (max-width: 991px){
  }
}
h5, .h5 , h5.sppb-addon-title{
  line-height: 1.2em;
  margin: 0 0 20px 0;
  padding: 0 0 0 0;
  text-transform: capitalize;
  letter-spacing: 0px;
  @media(max-width: 991px){
  }
}
h6, .h6 , h6.sppb-addon-title {
  line-height: 1.2em;
  margin: 0 0 10px 0;
  padding: 0 0 0 0;
  text-transform: capitalize;
  letter-spacing: 0px;
  @media(max-width: 991px){
    
  } 
}
h1, .h1{
  color: #34383d;
}
h2, .h2{
  color: #34383d;
}
h3, .h3{
  color: #34383d;
}
h4, .h4{
  color: #34383d;
}
h5, .h5{
  color: #34383d;
}
h6, .h6{
  color: #34383d;
}
.sppb-text-center {
  text-align: center;
}
.sppb-text-left {
  text-align: left;
}
.sppb-text-right {
  text-align: right;
}
// Body text
// -------------------------
.green {
  color: #2ecc71;
}
.red {
  color: #e74c3c;
}
.blue {
  color: #41bedd;
}
.yellow {
  color: #f1c40f;
}
// Paragraphs
// ----------
p {
  margin: 0 0 20px;
}
.featured {
  position: relative;
  z-index: 1;
}
ul {
  margin-top: 20px;
  padding-left:16px;
  li {
    font-size: 16px;
    line-height: 36px;
    a {
      color: #000;
      &:hover {
        color: $global_color;
      }
    }
  }
}
// --------------------------------------------------
// CORE TYPOGRAPHY (type.less)
// buttons
// --------------------------------------------------
.btn.jmodedit {
  color: #000!important;
  padding:4px;
  line-height: 20px;
  text-align: center;
  &:after {
     content: "\ebf7";
      font-family: "Linearicons";
      display: inline-block;
      color: #000!important;
      font-size: 16px;
  }
  a , span {
    color: #000!important;
  }
}
.btn , .sppb-btn{
  line-height: 20px;
  text-transform: uppercase;
  padding:12px 30px;
  border: 1px solid transparent;
  text-align: center;
  background: #f0f0f0;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: none!important;
  cursor: pointer;
  i {
    padding-left: 4px;
    padding-right: 4px;
  }
  &:hover,&:focus {
    background: #464848;
    border: 1px solid transparent;
    color: #fff;
  }
  &.sppb-btn-default , &.btn-default {
    background: #f0f0f0;
    color: #42474c;
    &:hover,&:focus {
      background: #464848;
      color: #fff;
    }
  }
  &.sppb-btn-primary , &.btn-primary {
    background: $global_color;
    &:hover,&:focus {
      background: darken($global_color,10%);
      color: #fff;
    }
  }
  &.sppb-btn-secondary, &.btn-secondary {
    background: #a255c4;
    &:hover,&:focus {
     background: darken(#a255c4,10%);
      color: #fff;
    }
  }
  &.sppb-btn-success, &.btn-success {
    background: #2ecc71;
    &:hover,&:focus {
      background: darken(#2ecc71,10%);
      color: #fff;
    }
  }
  &.sppb-btn-info, &.btn-info {
    background: #08acd4;
   &:hover,&:focus {
      background: darken(#08acd4,10%);
      color: #fff;
    }
  }
  &.sppb-btn-warning, &.btn-warning {
    background: #e74c3c;
    &:hover,&:focus {
      background: darken(#e74c3c,10%);
      color: #fff;
    }
  }
  &.sppb-btn-danger, &.btn-danger {
    background: #f1c40f;
    &:hover,&:focus {
      background: darken(#f1c40f,10%);
      color: #fff;
    }
  }
  &.sppb-btn-dark, &.btn-dark {
    background: #34383d;
    &:hover,&:focus {
      background: darken(#34383d,10%);
      color: #fff;
    }
  }
  &.sppb-btn-link, &.btn-link {
    background: none;
    color: $global_color;
    border: 1px solid transparent!important;
    padding: 0px!important;
    &:hover {
      color: $text_colors;
    }
  }
  &.sppb-btn-lg , &.btn-lg , &.sppb-btn-3d.sppb-btn-lg , &.sppb-btn-3d.btn-lg {
    padding:14px 30px;
  }
  &.sppb-btn-xlg, &.btn-xlg , &.sppb-btn-3d.sppb-btn-xlg , &.sppb-btn-3d.btn-xlg {
    padding: 22px 40px;
  }
  &.sppb-btn-sm, &.btn-sm , &.sppb-btn-3d.sppb-btn-sm , &.sppb-btn-3d.btn-sm {
    padding:7px 28px;
  }
  &.sppb-btn-xs, &.btn-xs , &.sppb-btn-3d.sppb-btn-xs , &.sppb-btn-3d.btn-xs {
    padding:6px 22px;
  }
  &.sppb-btn-rounded , &.btn-rounded {
    border-radius: 4px;
  }
 &.sppb-btn-round , &.btn-round {
    border-radius: 24px;
  }
  &.sppb-btn-square, &.btn-square {
    border-radius: 0px;
  }
}

.sppb-btn.sppb-btn-outline, .btn.btn-outline {
  //padding:15px 30px;
  background: none;
  &:hover {
    background: none;
  }
  &.sppb-btn-default , &.btn-default {
    border-color: #606366;
    color: #606366;
    background: none;
    &:hover {
      border-color:lighten(#606366,10%);
      background: lighten(#606366,10%);
      color: #fff;
    }
  }
  &.sppb-btn-primary , &.btn-primary {
    border-color: $global_color;
    color: $global_color;
    background: none;
    &:hover {
      border-color:lighten($global_color,10%);
      background: lighten($global_color,10%);
      color: #fff;
    }
  }
  &.sppb-btn-secondary, &.btn-secondary {
    border-color: #a255c4;
    color: #a255c4;
    background: none;
    &:hover {
      border-color:lighten(#a255c4,10%);
      background: lighten(#a255c4,10%);
      color: #fff;
    }
  }
  &.sppb-btn-success, &.btn-success {
    border-color: #23cf5f;
    color: #23cf5f;
    background: none;
    &:hover {
      border-color:lighten(#23cf5f,10%);
      background: lighten(#23cf5f,10%);
      color: #fff;
    }
  }
  &.sppb-btn-info, &.btn-info {
    border-color: #08acd4;
    color: #08acd4;
    background: none;
    &:hover {
       border-color:lighten(#08acd4,10%);
      background: lighten(#08acd4,10%);
      color: #fff;
    }
  }
  &.sppb-btn-warning, &.btn-warning {
    border-color: #e74c3c;
    color: #e74c3c;
    background: none;
    &:hover {
       border-color:lighten(#e74c3c,10%);
      background: lighten(#e74c3c,10%);
      color: #fff;
    }
  }
  &.sppb-btn-danger, &.btn-danger {
    border-color: #f1c40f;
    color: #f1c40f;
    background: none;
    &:hover {
      border-color:lighten(#f1c40f,10%);
      background: lighten(#f1c40f,10%);
      color: #fff;
    }
  }
  &.sppb-btn-dark, &.btn-dark {
    border-color: #34383d;
    color: #34383d;
    background: none;
    &:hover {
      border-color: #464848;
      background: #464848;
      color: #fff;
    }
  }
}

.sppb-btn.sppb-btn-gradient, .btn.btn-gradient {
  //padding:15px 30px;
  background: none;
  border: 1px solid transparent;
  &:hover {
    background: none;
    border: 1px solid transparent;
  }
   &.sppb-btn-default , &.btn-default {
    //background: #f0f0f0;
    color: #42474c;
    @include gradient-x(#f0f0f0,rgba(#f0f0f0,0.7),0%,100%);
    border: 1px solid #f0f0f0;
    &:hover {
      @include gradient-x(rgba(#f0f0f0,0.7),#f0f0f0,0%,100%);
      border: 1px solid rgba(#f0f0f0,0.7);
    }
  }
  &.sppb-btn-primary , &.btn-primary {
    //background: $global_color;
    border: 1px solid $global_color;
    @include gradient-x($global_color,rgba($global_color,0.7),0%,100%);
    &:hover {
      @include gradient-x(rgba($global_color,0.7),$global_color,0%,100%);
      border: 1px solid rgba($global_color,0.7);
    }
  }
  &.sppb-btn-secondary, &.btn-secondary {
    //background: #aaafb3;
    border: 1px solid #aaafb3;
    @include gradient-x(#aaafb3,rgba(#aaafb3,0.7),0%,100%);
    &:hover {
      @include gradient-x(rgba(#aaafb3,0.7),#aaafb3,0%,100%);
      border: 1px solid rgba(#aaafb3,0.7);
    }
  }
  &.sppb-btn-success, &.btn-success {
    //background: #17a98c;
    border: 1px solid #17a98c;
    @include gradient-x(#17a98c,rgba(#17a98c,0.7),0%,100%);
    &:hover {
      @include gradient-x(rgba(#17a98c,0.7),#17a98c,0%,100%);
      border: 1px solid rgba(#17a98c,0.7);
    }
  }
  &.sppb-btn-info, &.btn-info {
    //background: #85b74e;
    border: 1px solid #08acd4;
    @include gradient-x(#08acd4,rgba(#08acd4,0.7),0%,100%);
    &:hover {
      @include gradient-x(rgba(#08acd4,0.7),#08acd4,0%,100%);
      border: 1px solid rgba(#08acd4,0.7);
    }
  }
  &.sppb-btn-warning, &.btn-warning {
    //background: #cf4436;
    border: 1px solid #cf4436;
    @include gradient-x(#cf4436,rgba(#cf4436,0.7),0%,100%);
    &:hover {
      @include gradient-x(rgba(#cf4436,0.7),#cf4436,0%,100%);
      border: 1px solid rgba(#cf4436,0.7);
    }
  }
  &.sppb-btn-danger, &.btn-danger {
    //background: #e9b13f;
    border: 1px solid #e9b13f;
    @include gradient-x(#e9b13f,rgba(#e9b13f,0.7),0%,100%);
    &:hover {
      @include gradient-x(rgba(#e9b13f,0.7),#e9b13f,0%,100%);
      border: 1px solid rgba(#e9b13f,0.7);
    }
  }
  &.sppb-btn-dark, &.btn-dark {
    //background: #2a3a4b;
    border: 1px solid #2a3a4b;
    @include gradient-x(#2a3a4b,rgba(#2a3a4b,0.7),0%,100%);
    &:hover {
      @include gradient-x(rgba(#2a3a4b,0.7),#2a3a4b,0%,100%);
      border: 1px solid rgba(#2a3a4b,0.7);
    }
  }
}

&.sppb-btn.sppb-btn-3d, &.btn.btn-3d {
 padding:12px 30px;
  border-bottom-width:3px !important;
  border-color: #f0f0f0;
  border-bottom-color: darken(#f0f0f0,5%);
  &:hover {
    border: 1px solid transparent!important;
    border-bottom:3px solid transparent!important;
    background: darken(#f0f0f0,5%);
    color: #42474c;
  }
  &.sppb-btn-primary , &.btn-primary {
    border-color:$global_color;
    border-bottom-color: darken($global_color, 5%);
    color: #fff;
    &:hover {
      border: 1px solid transparent!important;
      border-bottom:3px solid transparent!important;
      background: darken($global_color,5%);
      color: #fff;
    }
  }
  &.sppb-btn-secondary, &.btn-secondary {
    border-color:#893bab;
    border-bottom-color: darken(#893bab, 5%);
    color: #fff;
    &:hover {
      border: 1px solid transparent!important;
      border-bottom:3px solid transparent!important;
      background: darken(#893bab,5%);
      color: #fff;
    }
  }
  &.sppb-btn-success, &.btn-success {
    border-color:#2ecc71;
    border-bottom-color: darken(#2ecc71, 5%);
    color: #fff;
    &:hover {
      border: 1px solid transparent!important;
      border-bottom:3px solid transparent!important;
      background: darken(#2ecc71,5%);
      color: #fff;
    }
  }
  &.sppb-btn-info, &.btn-info {
    border-color:#08acd4;
    border-bottom-color: darken(#08acd4, 5%);
    color: #fff;
    &:hover {
     border: 1px solid transparent!important;
      border-bottom:3px solid transparent!important;
      background: darken(#08acd4,5%);
      color: #fff;
    }
  }
  &.sppb-btn-warning, &.btn-warning {
    border-color:#e74c3c;
    border-bottom-color: darken(#e74c3c, 5%);
    color: #fff;
    &:hover {
      border: 1px solid transparent!important;
      border-bottom:3px solid transparent!important;
      background: darken(#e74c3c,5%);
      color: #fff;
    }
  }
  &.sppb-btn-danger, &.btn-danger {
    border-color:#f1c40f;
    border-bottom-color: darken(#f1c40f, 5%);
    color: #fff;
    &:hover {
     border: 1px solid transparent!important;
      border-bottom:3px solid transparent!important;
      background: darken(#f1c40f,5%);
      color: #fff;
    }
  }
  &.sppb-btn-dark, &.btn-dark {
    border-color:#34383d;
    border-bottom-color: darken(#34383d, 5%);
    color: #fff;
    &:hover {
      border: 1px solid transparent!important;
      border-bottom:3px solid transparent!important;
      background: darken(#34383d,5%);
      color: #fff;
    }
  }
}