/**
 * @package Helix Ultimate Framework
 * @author JoomShaper https://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2018 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or Later
 */
.com-media.contentpane {
  padding: 10px !important;
}
.com-media .well {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.com-media .well .row {
  margin: 0;
  padding: 0;
}
.com-media .well .row > div:first-child {
  width: calc(100% - 200px);
}
.com-media .well .row > div:last-child {
  width: 200px;
  float: right;
  text-align: right;
  padding-top: 30px;
}
.com-media .well .row #folderlist {
  display: inline-block;
}
.com-media .well .row #upbutton {
  display: none;
}
.com-media.view-imagesList {
  padding: 0px 0px 10px 0 !important;
}
.com-media.view-imagesList:before {
  content: " ";
  display: table;
}
.com-media.view-imagesList:after {
  display: block;
  clear: both;
  content: "";
}
.com-media.view-imagesList ul.manager {
  list-style: none;
  padding: 0;
  margin: 0;
}
.com-media.view-imagesList ul.manager > li.thumbnail {
  width: 110px;
}
.com-media.view-imagesList ul.manager > li.thumbnail > a > div:first-child {
  height: 60px;
  margin-bottom: 10px;
  text-align: center;
}
.com-media.view-imagesList ul.manager > li.thumbnail > a > div:first-child > span {
  display: inline-block;
  width: 60px;
  height: 40px;
  margin: 0 auto;
  margin-top: 25px;
  position: relative;
  background-color: #92ceff;
  border-radius: 0 5px 5px 5px;
}
.com-media.view-imagesList ul.manager > li.thumbnail > a > div:first-child > span:before {
  content: '';
  width: 50%;
  height: 12px;
  border-radius: 0 20px 0 0;
  background-color: #92ceff;
  position: absolute;
  top: -12px;
  left: 0px;
}
.com-media.view-imagesList ul.manager > li.thumbnail > a > div:first-child img {
  display: inline-block;
}
@keyframes spFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spFadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes spFadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes spZoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
  }
}
@keyframes spRotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
  to {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}
@keyframes spPulse {
  from {
    opacity: 0;
    transform: scale3d(1, 1, 1);
  }
  50% {
    opacity: 0.5;
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@keyframes spSpin {
  to {
    transform: rotate(360deg);
  }
}
